[2020-01-26 12:06] paulray commented on #596
How about this as a possible solution?

 Make a new timing model Component that is something like InteractiveJump. It could be identical to the current jump component but it would be used by the pintk code for its jumps, to simplify bookkeeping to keep them from getting confused with normal jumps.  It could get special features that are currently implemented in pintk as well, if that were helpful.

[2020-01-30 22:26] paulray opened #597 "Warning: Scaled PBDOT"
Just wanted to point out a warning.  See this snippet of a par file:
[code]
This is interpreted as PBDOT = 1.23E-12, since the E-12 scaling is implied (I hate this, but it is for TEMPO backwards compatibility).
Anyway, when you have this model, it does some very non-intuitive things:
[code]

The fact that m.PBDOT.value returns 1.23 is scary!  If someone tries to use PBDOT in a calculation that way

[2020-02-05 19:40] luojing1211 opened #598 "provide a nice interface for orbit phase"
Currently, to get the orbit phase out, one has to do the following
[code]
Howevery this should be integerated to a convenient function.

[2020-02-05 20:39] paulray commented on #598
I think it is `orbits()` instead of `orbit()`

[2020-02-05 20:40] paulray commented on #598
Also see #475
Is that corrected?

[2020-02-05 20:42] paulray commented on #598
And to copy some comments from Slack:
* Add docstrings that explain what "phase" means (eccentric or mean anomaly)
* Add unit tests for both parameterizations (PB, PBDOT, and FBx)
* How is it getting the times? Are they cached in the model object? That seems very dangerous!  One could have one model object and multiple sets of TOAs!

[2020-02-05 21:16] luojing1211 commented on #598
@paulray, the last point deserves a separate issue, it is cached in the "stand along binaries".

[2020-02-06 13:44] paulray commented on #598
Yep, I'll make an issue for that. On my flight yesterday I looked through the binary code, which I hadn't done in detail before. It is great that the orbital phase calculations are handled by their own object that can be extended! But, that caching of TOAs is scary and definitely can cause some bugs/unexpected  behavior.

[2020-02-12 16:15] scottransom opened #600 "Make DMX_parse.py equivalent in PINT"
Make equivalent functionality from tempo utils in PINT.

[2020-02-12 16:19] scottransom commented on #492
Need to implement what is already in TEMPO.  Some parts of this are in dmx_fixer (part of NANOGrav data release repositories

[2020-02-12 16:20] scottransom commented on #600
This is the same as #490

[2020-02-12 16:28] paulray opened #601 "Improve API for adding and deleting model components"

[2020-02-12 16:29] paulray commented on #601
The fix is in progress in #585

[2020-02-12 16:31] scottransom opened #602 "PINT should be able to output whitenened residuals"
Given a red noise model, PINT should be able to output the whitened resids the same way that TEMPO does in the resid2.tmp  (print_resid does the subtraction of reddened and whitened residuals)

[2020-02-12 16:34] scottransom commented on #491
The "etc" also should include binary orbital phase (T0 or TASC updating)

[2020-02-12 16:41] paulray opened #603 "Improve test coverage"
We are currently at 57% test coverage. This needs to be improved!

[2020-02-12 17:25] paulray opened #604 "Scary code"
https://github.com/nanograv/PINT/blob/fd29c15965b121cb821e4ad354b9d99ff47b4f66/src/pint/residuals.py#L61

This code looks like it will not always make a longdouble.  Probably needs some code to ensure it retains precision

[2020-02-12 21:46] rossjjennings commented on #491
@luojing1211's current implementation of this for for PEPOCH doesn't work on a model object without TOAs. For example, if I run

[code]
I get the following error:
[code]
It looks like this is because the `toas` parameter is not actually optional -- it's being used even though it's set to the default value of `None`. I don't know why it's necessary to use it here, though. @luojing1211, can we just

[2020-02-12 22:04] luojing1211 commented on #491
I think the flag "ephem" in the new_epoch_toa is unnecessary and you can remove it. Could you make a Pull Request? Any you could also add an unittest for this function. I am happy to work with you if you need help.

[2020-02-12 22:23] rossjjennings commented on #491
I'll work on making a pull request. Do we need `new_epoch_toa` at all, though? It doesn't look like it's used anywhere else in the function.

[2020-02-13 17:09] bshapiroalbert commented on #490
I've done a little work on this and have some functions written that use the PINT `toa` and `fitter` objects, and the covariance matrices to get the DMX values and uncertainties in the same way that `dmxparse` does, at least as far as I can tell. I've compared results on a few test cases and it seems to be consistent with results from `dmxparse`. I've attached a python script (as a text file cause

[2020-02-13 21:39] paulray opened #606 "Residuals difference between PINT and Tempo2"
I created a set of fake TOAs and I've run them through both PINT and Tempo2.  They were created with `zima`, so it is not surprising that the residuals from PINT look nice and white.  However, the residuals when running them through Tempo2 look like there is an annual term in the dispersion that is missed:
[T2resids.pdf](https://github.com/nanograv/PINT/files/4201184/T2resids.pdf)

This seems to b

[2020-02-13 21:46] luojing1211 commented on #606
Tempo2 use NE_SW 10 as its default value but PINT operates differently,
like components. If NE_SW is not given in the par file. Tempo2 will use the
default value. However, PINT will not add solar wind component to it.

On Thu, Feb 13, 2020 at 4:39 PM Paul Ray <notifications@github.com> wrote:

--
-Jing

[2020-02-13 21:50] paulray commented on #606
True, but this par file has NE_SW in it. And, I verified that `get_model()` produces a PINT model object with a solar wind component. So I believe they should be doing the same thing, but they aren't.

[2020-02-19 21:31] luojing1211 opened #609 "astropy4.0 precision loss reason found."
I tracked down the reason for the precision loss under astropy4.0. It is actually due to astropy4.0 table somehow does not keep the location in the Time object when a time object put into a table.
Here is a test code:
[code]
Output in astropy3
[code]

Output in astropy4
[code]

@mhvk Should I post this to the astropy github issues?

[2020-02-19 21:55] paulray commented on #609
Nice detective work!

[2020-02-19 22:34] rossjjennings opened #610 "Inconsistent defaults for ECL"
Currently, the value used for the obliquity of the ecliptic is determined by the `obliquity` attribute of the `PulsarEcliptic` class. The default value specified in `ecliptic.dat` is equivalent to IERS2010, but when building a model with an `AstrometryEcliptic` component, the IERS2003 value (compatible with Tempo2) is used unless `ECL` is explicitly specified. We should have a consistent default.

[2020-02-19 22:43] rossjjennings commented on #610
Also, the setting as currently implemented is global across all `PulsarEcliptic` instances. This can lead to some very surprising behavior. For instance, it means that once you call `get_psr_coords()` on *any* model object where `ECL` has not been explicitly specified, `PulsarEcliptic.obliquity` changes to the IERS2003 value for the rest of the session -- the global default is overridden.

[2020-02-19 22:47] rossjjennings commented on #610
I think the best way of dealing with this would be to allow different `PulsarEcliptic` objects to have their own `obliquity` values. This matches how astropy treats parameters of other coordinate frames, like the equinox of `BarycentricTrueEcliptic`, and would allow things like reading in multiple par files with different `ECL` values in the same session.

[2020-02-19 23:11] mhvk commented on #609
That is nice sleuthing indeed!  Yes, this should be raised as an issue, though in the meantime it may be possible to work around it by not making `Time` a list in the first place, but rather use an array of time. E.g.,
[code]

p.s. In more detail, the trouble may be that the table initialization has changed to use `Time` itself to initialize from a list of times, and that this does not keep locati

[2020-02-19 23:12] mhvk commented on #609
p.p.s. My suggestion of using array-shaped times should be backwards compatible, so hopefully that can get PINT working with every supported version of astropy again.

[2020-02-19 23:14] mhvk commented on #609
p.p.p.s. Maybe an idea to have a cron job with astropy-dev - breakage of PINT would definitely be a reason to revert/fix whatever commit causes it! This can be run on travis - see astropy's `.travis.yml` for inspiration. Note that one can also use travis for big-endian architectures (s390).

[2020-02-20 01:29] paulray commented on #610
Yes, it seems wrong to have the obliquity as a class attribute instead of a property of an instance.

[2020-02-21 18:34] luojing1211 commented on #610
The reason to make Obliquity a class method is the transformation function accepts a class instead of an instance.  I am not sure if this has been changed in the newer astropy version.

[2020-02-21 22:32] luojing1211 commented on #609
Solved by PR #612

[2020-02-21 22:32] #609 closed

[2020-02-21 22:35] luojing1211 opened #614 "Photonphase failing"
Currently, Tox has one last failing on the Photonphase. @paulray could you check it out?

[2020-02-22 13:27] paulray commented on #614
Fixed in #587

[2020-02-22 13:27] #614 closed

[2020-02-22 13:53] paulray opened #615 "u.cycle is insane and causes astropy 4 to fail"
See my email to the list, but I think we should make Phases unitless instead of using u.cycle which has many unexpected behaviors. Currently it causes one of the tests to fail when using astropy 4.0 since the unit propagates into photonphase in a way it didn't use to

[2020-02-22 23:56] rossjjennings commented on #615
@paulray -- I've tried to reproduce the weird behavior you wrote about in your email, and found that it isn't the default behavior in astropy 4.0. In an astropy 4.0 environment, if I just open up `ipython` and run
[code]
I get a `UnitConversionError`. But if I `import pint.models` before the second line, I get `125` as output, with no error.

[2020-02-23 00:11] rossjjennings commented on #615
Aha! I think the culprit is `u.set_enabled_equivalencies(u.dimensionless_angles())` [here](https://github.com/nanograv/PINT/blob/a4b33eae5fce21a6010e8665bfeecf9caec8cf96/src/pint/models/stand_alone_psr_binaries/DDK_model.py#L13). This is the only place where it appears outside a `with` block.

[2020-02-24 21:22] paulray commented on #615
Glad this is fixed!  But, I think we should have a discussion at some upcoming PINT telecon about whether it might be better to remove the u.cycle units on Phases.

[2020-02-25 21:15] tcromartie opened #620 "Cannot read white noise params from par files"
EFAC and EQUAD get applied fine when read from tim files, but if the parameters are listed in the par file, they're not applied. This might be a nice quality-of-life improvement (it's much easier to change them in the par file than in the tim file).

[2020-02-25 21:29] luojing1211 commented on #620
This is strange. I believe, if they are listed in the .par file, it should be applied. Can you check you model see if they are there?

[2020-02-25 21:44] scottransom commented on #620
@luojing1211 I don't think so.  They are applied in .tim files during the TOA reading and EFAC and EQUAD change the TOA errors then.  But for it to get applied in the model, it would have to happen (I think) during computation of the residuals in the Residuals() class.  And that doesn't happen.

[2020-02-25 21:46] paulray commented on #620
Yeah the Residuals class is probably the right place to do it, since that is when the model and TOAs get combined.  Another consequence of the modularity of models and TOAs in PINT.

[2020-02-25 21:51] luojing1211 commented on #620
Does this function do the job?
https://github.com/nanograv/PINT/blob/70e04c015ab0033e7db4e8ddbd4008c8b963b52e/src/pint/models/noise_model.py#L146

[2020-02-25 21:59] scottransom commented on #620
@luojing1211 I'm not sure what job you are talking about.  It seems like it scales errors and stuff, but when/where is that used?  Especially in a WLS fit?  I see that it might be used in a GLS fit, but EFAC and EQUAD (at least) need to be used in both.

[2020-02-25 22:05] luojing1211 commented on #620
I meant to rescale the TOA errors. If you want to get rescaled TOA errors from .par file input, this function should return the result.  When we were designing WLS fitter, the noise model was not included. But the noise models were added when implementing the GLS fitter.  If WLS fitter also includes the noise model, what is the difference between WLS and GLS fitter? The red noise part?

[2020-02-25 22:20] scottransom commented on #620
If there is a red noise model or ECORR, then you need to do a GLS fit.  But for a WLS fit, we have to be able to deal with EFAC and EQUAD.  Because those have been part of pulsar timing forever (and all types of WLS fits).  Luckily they only scale the TOA errors and so really only need to be applied in the residuals class.  They should affect the chi^2 value that the fitter evaluates.

So I think

[2020-02-25 22:25] luojing1211 commented on #620
I this should be easy to fix. But we may face a challenge, an old challenge, if both tim file and par file has EFAC and EQUAD, it will apply those values in the .tim file but also apply the values in the .par file. Is there a priority for this case?

[2020-02-25 22:31] scottransom commented on #620
Well, if they are in the .tim file they will have already have been applied.  So we should probably check when calling Residuals() to see if the TOAs have EFAC and EQUAD as well as the timing model, and if both do, we should probably give a warning at least.  I'm not sure we should exit, because I can see possible reasons why people would want to do that...

[2020-02-25 22:34] luojing1211 commented on #620
Ok, I think this could work.

[2020-02-27 22:31] paulray commented on #598
See also #111, which probably can be closed.

[2020-02-28 15:47] dlakaplan opened #622 "Cannot read WSRT TOAs"
I am trying to read in a `.tim` file with WSRT data along with GBT and others.  PINT fails on the WSRT data:

[code]

The input looks like:
[code]

As far as I can see code `i` is appropriate for WSRT at least in `observatories.py`, but it doesn't seem to have any relevant clock files.

[2020-02-28 15:50] dlakaplan commented on #622
PR #621

[2020-02-28 16:13] dlakaplan commented on #598
Would be great to also provide access to the various anomalies (mean, eccentric, true)

[2020-02-28 19:14] paulray opened #623 "NICERObs orbit files can fail"
If you pass a list of orbit files to NICERobs (e.g. "@orbfiles.txt") and some of the files have overlapping times, it will crash because they get sorted into the merged file which will than have some non-increasing X values.  Should find some way to fix this.

[2020-02-28 22:25] rossjjennings commented on #610
Closing now that #613 is merged.

[2020-02-28 22:25] #610 closed

[2020-02-28 22:42] rossjjennings commented on #615
Should we close this now that #616 is merged?

[2020-02-28 22:44] paulray commented on #615
I still think we should hold it open pending a discussion on whether to stop using u.cycle at all for pulsar phases.

[2020-02-29 11:49] paulray commented on #622
Fixed in #621

[2020-02-29 11:49] #622 closed

[2020-03-02 20:27] rossjjennings commented on #542
I've been looking at this recently as part of getting @bshapiroalbert's dmxparse code added to PINT (which will address #490). While PR #507 was eventually merged, the `get_covariance matrix()` function (in `residuals.py`) that would have done this died before that happened, so as far as I can tell we still don't have a way to do this.

[2020-03-03 22:09] rossjjennings opened #625 "Covariance vs. correlation matrices"
The `WLSFitter` class currently saves both a "covariance matrix" and a "correlation matrix" for the fit parameters, but the terminology is mixed up. The stored `correlation_matrix` has the variances on the diagonal, making it what is normally called a covariance matrix, while the `covariance_matrix` has ones on the diagonal, meaning that it is really a correlation matrix.

Neither of these are use

[2020-03-04 20:24] juliadeneva opened #626 "Pintk: 'Home' button of plot doesn't work"
Clicking the 'Home' button above a pintk plot after zooming in doesn't go back to the original view but shows a blank plot.

[2020-03-04 20:40] paulray commented on #626
I see that behavior too.  I found that clicking 'k' does what the Home button should do.  Not sure why Home is not working, though.

[2020-03-05 23:23] dlakaplan commented on #598
Absolutely - I would use this for optical analysis.

[2020-03-06 02:25] rossjjennings opened #627 ""More than one component made use of par file line" warnings on NANOGrav par files"
Whenever I load a NANOGrav par file using PINT, I get warnings like the following:

[code]

It looks like the noise model components are stepping on each other's toes. In particular, these warnings aren't the result of bad/corrupted par files or unrecognized par file lines, but seem to be symptoms of a problem internal to PINT. Why is this happening and what would we need to do to get rid of it?

[2020-03-06 03:01] rossjjennings commented on #627
Is this related to #620?

[2020-03-06 16:06] luojing1211 commented on #627
I don't think it is related to #620. But I am working on getting add parameters to work better. So it may solve the problem.

[2020-03-06 16:44] paulray commented on #33
With the paper coming out, how about we get PINT onto PyPI now (and conda as well perhaps)?

[2020-03-06 17:15] luojing1211 commented on #33
I think this is the time for it. Should we use "pint_time" or
"pulsar_pint"? I am working on the code to reach what I promised in version
0.7
-Jing

On Fri, Mar 6, 2020 at 11:44 AM Paul Ray <notifications@github.com> wrote:

[2020-03-06 17:19] paulray commented on #33
I guess I like "pulsar-pint" or "pint-pulsar" since most package names seem to use dash instead of underscore in the PyPI name.  I looked at the docs and I think we can make it install with "pip install pulsar-pint" and still have it imported with "import pint".  I wonder if there is some way in PyPI to specify that it conflicts with the other PINT package so that they can't both be installed?

[2020-03-06 17:27] paulray commented on #33
Note that `pip search pint` currently returns this:
[code]

[2020-03-06 21:58] paulray commented on #33
@luojing1211 are you going to upload to PyPI, or should I give it a shot?
I think we should definitely tag a new version number before doing so.
But, other than that, the setup.cfg seems to have all the metadata required, so I think it should be simple.

[2020-03-06 22:02] luojing1211 commented on #33
I am finishing the add_component() part. I think  that is the 0.7 milestone
we agreed on. But can we reserve the name on PyPI?

On Fri, Mar 6, 2020 at 4:58 PM Paul Ray <notifications@github.com> wrote:

--
-Jing

[2020-03-06 22:06] paulray commented on #33
I don't know if you can reserve a name.  I suppose hanging on for 0.7 with the components stuff fixed up would be fine. I guess once we post on PyPI, we'll want to be a bit more careful with versioning, so maybe we shouldn't rush it too much.

[2020-03-06 22:27] paulray commented on #231
I'd like to get this dealt with. Matteo, where is the fftfit code in HENDRICS?

[2020-03-06 22:27] #22 closed

[2020-03-06 22:29] #43 closed

[2020-03-06 22:30] paulray commented on #63
I think Enterprise and other NANOGrav codes are using PINT now. I'm not sure if they use the libstempo interface or not. Can we close this?

[2020-03-06 22:31] matteobachetti commented on #231
https://stingray.readthedocs.io/en/latest/stingray/docs/api.html?highlight=fftfit#stingray.pulse.fftfit

[2020-03-07 11:59] paulray commented on #272
The relevant PR is #464

[2020-03-07 12:02] paulray commented on #247
Yeah, this would be a great contribution from a NANOGrav student

[2020-03-07 12:06] paulray commented on #408
I've not heard of anyone else replicating this error, so I'm closing.

[2020-03-07 12:06] #408 closed

[2020-03-07 12:09] paulray commented on #584
Anyone know how to make a travis run that sets all the packages at the *minimum* supported version?

[2020-03-07 18:05] scottransom commented on #33
I think I prefer pulsar-pint or pint-pulsar.  The latter might make more sense for pulsar people looking for pint as it will show up right next to the already existing pint (which is what they would expect it was named!)

[2020-03-08 15:51] mhvk commented on #584
@paulray - over at astropy, we've just switched over to setting up environments with `tox` (which I see PINT has started to use as well), and in `tox.ini`, there's:

https://github.com/astropy/astropy/blob/424b3fb21f8cdf61db7fccb16ceee4c8bc99a80e/tox.ini#L49-L53

which then gets used in `.travis.yml` as:

https://github.com/astropy/astropy/blob/424b3fb21f8cdf61db7fccb16ceee4c8bc99a80e/.travis.yml#

[2020-03-08 21:11] cdeil commented on #33
Yes, you can do that.

As package install and import name, you can choose any valid Python identifier (like `pint` or `pint_pulsar`, but not `pint-pulsar`) and as PyPI name you can also use minus (commonly done), and then name can be completely different (very rarely done). See https://stackoverflow.com/a/53346523/498873. Actually you can pretty much in `setup.py` execute any code you like (erase

[2020-03-10 19:11] rossjjennings commented on #625
Closing now that #629 has been merged.

[2020-03-10 19:11] #625 closed

[2020-03-10 20:03] rossjjennings opened #632 "Test against minimum allowed versions of packages"
We should have at least one Travis build set up that runs PINT with the minimum allowed version of each of our dependencies. This will make us notice when a change breaks on an older version of (say) numpy or astropy, and prevent issues like #584 from cropping up. If we do find something that breaks on an older version, we can always bump up the minimum supported version of that package, which wil

[2020-03-10 20:07] paulray commented on #632
Concur! Maarten gave some tips on how astropy does that with tox in #584
We should definitely do this. I just haven't found the time to play with it yet.

[2020-03-10 20:31] rossjjennings opened #633 "Stand-alone binary models cache TOAs"
Currently, the "stand-alone" pulsar binary models in `pint.models.stand_alone_pulsar_binaries` internally save a copy of the TOAs they're given when asked to compute delays, as mentioned on #598. This breaks PINT's modularity -- for example, to compute the orbital phase from a model, you must have first computed the delay using a set of TOAs. As @mtlam mentioned on that issue, it would be useful t

[2020-03-10 23:14] paulray opened #635 "Fitters should update START and FINISH"
When a fit is run in PINT the output model should have START and FINISH set properly, so when you write out a par file that information is saved.

[2020-03-11 15:36] paulray opened #637 "Add literature reference to this docstring"
https://github.com/nanograv/PINT/blob/dd333f67bce123d9b8863860ca0d850912ea9129/src/pint/models/solar_wind_dispersion.py#L19

[2020-03-13 03:32] rossjjennings opened #639 "Stand-alone binary model retains 10 day default FB0"
I ran into the following alarming state of affairs while trying to add a function to change the binary epoch.

Try loading `J0023+0923_NANOGrav_11yv0.gls.par` from the `tests/datafile` directory:
[code]
That last value (approximately 1/(10 days)), is a default set by the base class for the stand-alone binary models (`pint.models.stand_alone_psr_binaries.PSR_BINARY`). It is being retained by the `b

[2020-03-13 03:34] rossjjennings commented on #639
I plan on putting together a solution for this soon that should also address #633.

[2020-03-13 06:00] mtlam opened #640 "Built-in F-test for parameter significance"
Part of NANOGrav's workflow, and I believe useful to others more broadly and thus should probably go into PINT, is the ability to test the addition (or removal) of a timing model parameter or parameters. Therefore, I'd suggest it either takes a value or list of values, which I suppose could be `Parameter` objects but preferably for ease strings. I'm not sure where this function would live within P

[2020-03-13 10:41] paulray commented on #640
This is clearly a good functionality to support! However, I don't think it can be implemented as a method of a TimingModel object.  It requires re-fitting after modifying the model, so it needs a Fitter and a TOAs object as well.  Given that, it probably makes sense to make a higher level convenience function that takes a model, fitter, and TOAs and a list of parameters to test.
So, maybe `pint.Ft

[2020-03-13 10:41] paulray commented on #639
Holy cow! That is scary!

[2020-03-13 15:23] scottransom commented on #640
Yeah, I think this is correct what @paulray wrote.  Although I think it could also be done as a part of the fitter class itself (for WLS and GLS instances).  That's because there is already a base model and TOAs assigned.

When Ftest is run, it could simply copy the current model and add "XDOT" as in Paul's example (f.Ftest("XDOT"), which is similar to how @mtlam was suggesting.  Or, a second way

[2020-03-13 16:20] mtlam commented on #640
I'm happy to take a crack at writing it. I can do so in consultation with @luojing1211 and others.

Doing both methods as @scottransom mentioned sounds reasonable to me, but it should at a minimum do the first way. It will be very cumbersome to have to build lots of models to test. Unless one wants to overload `__add__` for `add_param()` and the equivalent for `remove_param()`, but this still seem

[2020-03-13 16:36] demorest commented on #640
Given that F-test is technically only valid for nested models, I think it probably makes most sense to pass it a list of parameters to test, rather than an arbitrary `model2` instance.

[2020-03-13 16:42] scottransom commented on #640
@demorest  Yeah.  We'd basically need to test that the models are nested.  But I think that is quite doable.  I just think that, for instance, when a new param gets added in pintk, you get a new model instance (actually, every time you do anything you get a new model instance, as they are pushed onto a stack so you can undo).  So being able to compare two (nested!) models seems useful.

[2020-03-13 16:44] scottransom commented on #640
@mtlam what is the cumbersome part?  You don't need to build a new model from scratch.  You can simply copy the current one and and/remove as needed.  I kind of like that, actually, as you don't modify your input model unless you really want/need to.

[2020-03-13 16:47] luojing1211 commented on #640
@scottransom If one needs to switch the binary model, this needs to add_component() functions.

[2020-03-13 16:50] scottransom commented on #640
@luojing1211 but switching the binary model doesn't make a nested model.  So we would reject that case for using the Ftest.  I think the check would be (fairly?) easy to make:  all of the params should be the same except some small number of new ones.  We check to see if the components are all the same, and that there are only a different number of params.  *Or* we check to see if a new component

[2020-03-13 16:51] demorest commented on #602
I will work on this, probably starting next week.  I'd originally thought it made sense for `GLSFitter` to output the noise realizations back to the relevant `NoiseComponent` classes in the timing/noise model.  However, since the noise realization depends on both a specific model and specific TOAs, I now think it makes more sense to add this to `Residuals`.  So `Residuals` will get some extra attr

[2020-03-13 16:56] demorest commented on #639
FWIW, I still think we should get rid of the "stand-alone" binary models entirely.

[2020-03-13 17:03] mtlam commented on #640
@scottransom Mostly that doing it in one line rather than multiple seems easiest, especially if one (i.e., NANOGrav) needs to do a bunch of F-tests. Yes, it could be looped, but it just seems a bit bulky for what one probably wants as an "is significant?" test.

Agreed on the nested checking. That seems fairly straightforward. Happy to take a tab at that too.

[2020-03-13 17:06] rossjjennings commented on #639
Why do we have the "stand-alone" binary models to begin with?

[2020-03-13 17:07] luojing1211 commented on #639
Even we fixed the default problem, the cache is still there. The reason for it is that someone may just use the binary model for something else (like orbit searching).

[2020-03-13 17:12] scottransom commented on #640
@mtlam oh, I thought that @demorest was suggesting that the list of params would be applied to a *single* Ftest.  For example, testing both the adding of EPS1DOT and EPS2DOT at the same time (which you could argue is the right thing to do).  I wasn't thinking about the Ftest code doing multiple tests at once...

[2020-03-13 17:15] rossjjennings commented on #639
For a minute last night I thought it would be easy to solve this and #633 together (hence my earlier comment), but I was wrong, so you can disregard my first comment on this. I do still need (or at least want) this to be solved before I add the code to change the binary epoch, and I'm willing to work on it myself, but the solution is not obvious.

[2020-03-13 17:19] mtlam commented on #640
@scottransom Oh, that's exactly what I was thinking: single F-test at a time. I just meant that doing one significance test in one line would be useful, rather than multiple.

[2020-03-13 17:19] luojing1211 commented on #639
The solution is obvious, but it is very long and it will be a big PR. After PINT version 0.7. I am happy to work with you to solve it since I coded most of them.

[2020-03-13 17:21] scottransom commented on #640
Ah, ok.  I think we are on the same sheet of music then.  I just think that being able to compare two different models is also useful (and would be used).  That does demand the testing for nestedness, though.

[2020-03-13 17:22] rossjjennings commented on #639
@luojing1211 Do you mean combining the stand-alone binary models with the regular ones, as I think @demorest would like? Or just removing the defaults and caching mechanism from the stand-alone models?

[2020-03-13 17:26] luojing1211 commented on #639
Make stand-along binaries to regular model component

[2020-03-14 18:13] rossjjennings opened #642 "Parameters that aren't there: default value vs. UNSET vs. AttributeError"
Currently, writing PINT code for a situation where a model parameter may or may not exist is unnecessarily difficult, because the absence of the parameter might be handled in one of several different ways: it might be absent from the model object, so that asking for it raises an `AttributeError`, present, but with the value `UNSET`, so that asking for it as a `value` or `quantity` gives `None`, or

[2020-03-14 18:22] luojing1211 commented on #642
Raise AttributeError will make the current code broken. The reason for a default value parameter is that some model that has some parameters we general does not set, but it is used in the calculation. For instance, in DD model, we do not use DR or DTH very often, but they are used in the calculation with zero value.

[2020-03-14 18:23] rossjjennings commented on #642
A particularly annoying instance of this that I ran into is `A1DOT`: If a `DD` binary model doesn't have an `A1DOT`, it is treated as 0, but if an `ELL1` model doesn't have an `A1DOT`, it is `UNSET`.

[2020-03-14 18:27] luojing1211 commented on #642
It happens here. DD model sets the A1DOT in the model. But ELL1 may not.  But I don't think it is the problem of default value or unset. It is the convention about how we use them is not clear. https://github.com/nanograv/PINT/blob/0f6a1c933de85c235a6d6bd273b0b81492739db3/src/pint/models/binary_dd.py#L80

[2020-03-14 18:28] rossjjennings commented on #642
@luojing1211 I agree that it's nice to have some parameters be 0 by default. It's less nice when it only works for some parameters, and you have to sift through the code to figure out which. And having to remember which are `UNSET` and which will raise `AttributeError` is just annoying.

[2020-03-14 18:31] luojing1211 commented on #642
By the way, where does this AttributeError coming from? Parameters are not added to the timing model?

[2020-03-14 18:34] rossjjennings commented on #642
It happens a lot for prefix parameters. For example, if `PBDOT` is not present, it will be unset (so that `model.PBDOT.value is None`), but if `FB1` is not present, it will raise an `AttributeError`. I think there are other cases, too.

[2020-03-14 18:41] luojing1211 commented on #642
PBDOT should get default value 0. So the set up is PBX and FBX are from two classes for orbit, thus they can not show up together. If one uses PB, FBx would not be there.

[2020-03-14 18:53] rossjjennings commented on #642
It makes sense that PB/PBDOT and FB0, FB1, etc. can't be used together. The part that gets annoying is having to figure out that you need to write code like this:
[code]
in the first case, and code like this:
[code]
in the second case.

[2020-03-14 18:58] luojing1211 commented on #642
Oh, I see. This problem is deeper. FB1 is a prefix parameter, because, one doesn't know how many FBs are there. That is why FB1 may not be there. However, PBDOT is added to the model when initiating.

[2020-03-14 19:09] rossjjennings commented on #642
It can also get worse in the `UNSET` case. For example, if you're writing a function that needs to be able to operate on arbitrary model objects (regardless of what components they have), and has to do something special when `A1DOT` is present, you need to write something like this:
[code]

[2020-03-14 19:15] luojing1211 commented on #642
Ok, I see what you mean. I agree that reducing from three status to two status is nice.

[2020-03-14 19:20] luojing1211 commented on #642
@rossjjennings I just merged validate() functions. Maybe we can use validate() to solve the problem of AttributeError?

[2020-03-14 19:27] rossjjennings commented on #642
@luojing1211 Maybe? I'm not really sure how it relates.

[2020-03-14 19:34] luojing1211 commented on #642
Do you have any real use case for this problem? It will help me fix it.

[2020-03-14 20:01] rossjjennings commented on #642
This came up in trying to add the `change_binary_epoch()` function. I'm almost done with that -- I'll have the pull request up pretty soon.

[2020-03-16 18:46] #632 closed

[2020-03-19 17:38] #584 closed

[2020-03-24 11:37] emmacarli commented on #596
Hi, is there any way to add a jump in Python?

[2020-03-24 12:15] emmacarli commented on #596
Hi all,
is there a way to add a jump to the timing model in Python?
If not, could you possibly provide more details on how to add it through pintk (as suggested above), please?

I have made the patch advised above here:  3e1b87d582dec16fc28a6b2bc319a39c0405dd5f
I load a par file which contains the line
```JUMP MJD 57573.39091730057 57575.04400944243     0  1```
(these are the two TOAs that have a

[2020-03-24 12:27] paulray commented on #596
Hi Emma, this is just a guess, but are there any TOAs between the two MJDs in your JUMP line?  That JUMP is trying to apply a fittable offset to any TOAs with times between the two MJD values. My guess is the 'None' comes from the fact that you aren't selecting any TOAs that way. Is that it?

If that isn't it, then the best thing is to provide your par and tim file and a simple script or command t

[2020-03-24 12:29] emmacarli commented on #596
There are indeed no TOAs between them:

[2020-03-24 12:50] clp3ef commented on #596
Hi Paul,

I am still around, and I'm happy to discuss pintk issues! Unfortunately,
I'm pretty swamped with schoolwork, so I don't really have the time to try
to debug the issues we know exist.

@emmacarli, if you're only trying to add one JUMP (and want to use pintk),
it might be easiest to load in the parfile to pintk without the JUMP,
select the appropriate points, and press 'j'. That will put a

[2020-03-24 13:02] luojing1211 commented on #596
Hi all,

The fix_component_adding PR improves the API for this functionality. It
will make adding jumps to a timing model much easier. I encourage you to
check it out and try it on your cases. Please feel free to give feedbacks.
I would like to discuss it during tomorrow’s telecon.

On Tue, Mar 24, 2020 at 8:50 AM Camryn Phillips <notifications@github.com>
wrote:

--
-Jing

[2020-03-24 15:02] emmacarli commented on #596
Thanks for your reply. You are right, my mistake, there are no TOAs between these two dates. I have fixed my jumps to have TOAs between them now. But the same errors come out. You can find the tim and par files, with a simple script and a plot of the jumps [here](https://github.com/emmacarli/pulsar_data_analysis_acreroad/tree/master/Graham_Timing_Test).

Thank you very much for your help. I am act

[2020-03-24 15:38] luojing1211 commented on #596
I think @paulray  is pointing in the right direction. Should we allow Jumps without TOAs?

[2020-03-24 15:39] luojing1211 commented on #596
Since I implement this code, I will take a look today.

[2020-03-24 16:08] luojing1211 commented on #596
@emmacarli Can you send me the "acre" observatory class definition?

[2020-03-24 16:11] emmacarli commented on #596
Thank you for looking into this @luojing1211 , here it is TopoObs('acre', aliases=['acreroad','a','AR'], itrf_xyz =[3573741.1, -269156.74, 5258407.3], )

[2020-03-24 16:15] paulray commented on #596
@emmacarli I'd avoid using the single letter observatory aliases, if possible. In particular 'a' is used in old TEMPO for the GB 140 ft, so you are risking confusion.

[2020-03-24 16:19] emmacarli commented on #596
@paulray Thank you, yes, I will change that. I had removed this telescope's one-letter code from obsys.dat so there wouldn't be clashes.

[2020-03-24 16:25] paulray commented on #596
I guess it depends what "allow" means. We certainly can't fit for JUMPs that have no TOAs in them since the value is unconstrained.  But, PINT should not fail with cryptic error messages when that situation occurs.  Also, it should not fail if you don't fit since there isn't a real problem until that happens.  So, it should probably emit a warning when computing residuals where some JUMPS have no

[2020-03-24 19:43] luojing1211 commented on #596
@emmacarli It was the JUMP key values. Please try this new PR, see if it works for you.

[2020-03-24 20:03] emmacarli commented on #596
@luojing1211 , thank you so much ! This has removed all the error messages. However, the pre and post-fit residuals still have the breaks and look exactly the same as without the jumps input...?

[2020-03-24 20:22] luojing1211 commented on #596
@emmacarli Is this what you are seeing?
![test-graham](https://user-images.githubusercontent.com/5324931/77473286-a028ec00-6deb-11ea-8119-6ad989b8836d.png)

[2020-03-24 21:28] emmacarli commented on #596
Not quite the same post-fit, but we might not be fitting the same parameters ('F0','F1', 'RAJ', 'DECJ')
![image](https://user-images.githubusercontent.com/39613453/77478576-1b9f9300-6e16-11ea-8628-009fe0ad9175.png)

[2020-03-24 21:36] luojing1211 commented on #596
This is what I got if I do:
[code]
![test_graham2](https://user-images.githubusercontent.com/5324931/77479155-a0c68000-6df5-11ea-8e4c-38d7e31b771c.png)

[2020-03-24 21:38] emmacarli commented on #596
Of course ... I did not think to add the jumps, somehow I thought it would be done automatically. Sorry about that. Thank you very much for your time and the fixes!

[2020-04-01 15:48] demorest opened #651 "TOA loading fails with astropy 4.0.1"
Astropy 4.0.1 seems to be causing TOA loading to fail in some cases.  The failure occurs within `compute_posvels` but only for certain TOA sets in our standard test cases.  These include: `zerophase.tim`, `testtopot1.tim`, `testtopo.tim` and possibly others created using `get_TOAs_list`.  I haven't yet been able to see a clear pattern here.

The failure occurs in `compute_posvels` at toa.py line 1

[2020-04-02 16:52] demorest commented on #602
Addressed in #648

[2020-04-02 16:52] #602 closed

[2020-04-06 14:59] luojing1211 opened #652 "config.datapath() did not return None when file is missing"
config.datapath() should return None when the file is missing, according to the docstring, however it raises an error. This makes the searching for bipm clock correction file fail. What is the right way to do it? None vs Error?

https://github.com/nanograv/PINT/blob/78596924eb36dbb31e74b8fafb53b4c9cd7c08bb/src/pint/config.py#L36

[2020-04-06 15:15] luojing1211 opened #653 "Add tempo BIPM clock correction search"
Currently, if PINT BIMP clock correction file is not found, it would only search TEMPO2 clock directory. We should also search in TEMPO directory. If tempo2 is not installed, we can still use the tempo clock correction file.

https://github.com/nanograv/PINT/blob/78596924eb36dbb31e74b8fafb53b4c9cd7c08bb/src/pint/observatory/topo_obs.py#L180

[2020-04-06 17:08] paulray opened #654 "PINT incorrectly handles par files with mixed ecliptic and equatorial coords"
This is related to #304

I made 4 par files using different combinations  of equatorial and ecliptic coordinates for the position (POS) and proper motion (PM). When both POS and PM are the same coordinate system all works fine. When POS is equatorial and PM is ecliptic, PINT runs but gives incorrect answers. When POS is ecliptic and PM is equatorial, PINT print some warnings and raises an exceptio

[2020-04-07 23:12] demorest commented on #651
Investigated a bit more, the failure seems to only happen when working with data sets that contain only a single TOA from a given observatory.  Some of our tests do this.  Also, temporary single-TOA datasets are created internally as part of the absolute phase code, this explains most of the test failures.  Seems to be some edge case affecting 1-row astropy `Table` containing `Time` data.  I have

[2020-04-07 23:22] luojing1211 commented on #651
This could relate to the PR #612, which works around the problem of astropy `Time` object losing information when putting into `Table`. But having a non-PINT-based script would be helpful for them to identify the problem.

[2020-04-08 15:51] demorest commented on #652
As I just said on the call, I'd vote for leaving the behavior of `config.datapath()` as it is, ie raise an error rather than return None.  We should change the docstring to correctly describe this behavior though.

[2020-04-09 12:46] paulray commented on #654
As a note, TEMPO does the **right thing**, as @demorest predicted:
[code]

[2020-04-10 18:36] paulray opened #658 "Issues with the Dispersion classes"
I've been looking over `dispersion_model.py` and `solar_wind_dispersion.py` and there are some issues I think should be addressed.  My particular motivation was that I want to be able to query the model DM at any given time (or at least at the time of TOAs), so I can plot the modeled dispersion  measure as a function of time. I do not see a simple way to do this, but I may be missing something.
I

[2020-04-10 18:51] luojing1211 commented on #658
I agree I was planning to have an update on the dispersion base class and its subclasses after version 0.7 is set.

[2020-04-13 13:29] #637 closed

[2020-04-13 13:53] paulray opened #659 "@paulray - this looks really nice. Obviously, arbitrarily increasing tolerances is worrying! I think part of the problem is that the test involved seems to be at a level so high that one has little idea where the actual problem originates. It may be good to open an issue to greatly expand unit tests... Having seen @aarchiba's work on [testing astropy's `Time` class](https://github.com/astropy/astropy/pull/9532), I've also become more convinced that it should be a mixture of well thought-through tests and using `hypothesis` to check that assumptions about what the code does actually hold."
As part of working on PR #644 I found that I had to increase the testing tolerances in a few places, including the PosVel comparison between PINT and Tempo2, and in `test_fbx.py` check of FB1 derivative, which only failed for certain versions of numpy/astropy.

Here is what @mhvk had to say:

@paulray - this looks really nice. Obviously, arbitrarily increasing tolerances is worrying! I think part

[2020-04-13 14:39] luojing1211 opened #660 "Improve Parameter API"
The parameter submodule defines several types of parameters. However, they are not very intuitive to use. It could be confusing to figure out which one is the right parameter type to use.

[2020-04-13 15:42] paulray commented on #654
Note that Tempo2 now does the *right thing*, as of this commit:
https://bitbucket.org/psrsoft/tempo2/commits/adb29f71a9f945d3773373df78929a0f63f608ca

[2020-04-13 20:41] juliadeneva opened #661 "Chi2 calculation possible bug"
As far as I can tell chi2 here is always calculated based on prefit residuals from _all_ TOAs, while in the second line it is divided by the number of _selected_ TOAs.

https://github.com/nanograv/PINT/blob/4ddc7b7b1fde974a0c4769933984d43161362542/src/pint/pintk/pulsar.py#L457-L458

Same problem but with postfit residuals when printing the results:

https://github.com/nanograv/PINT/blob/4ddc7b7b1f

[2020-04-13 22:49] demorest opened #662 "GLS fit chi-squared fixes"
The `GLSFitter` code should be changed to:
1. Use the full residuals rather than linearized fit approximation when returning chi2.
2. Include the noise model terms in chi2 when maxiter==0.
This will require some reorganization of the internal code, but shouldn't be too difficult, I will try to do it this week sometime.

[2020-04-16 12:50] paulray commented on #652
I just ran into this problem when loading TOAs with `bipm_version="BIPM2017"`. That is supposed to try PINT first then fall back to $TEMPO2/clock if that is available. Instead the exception causes it to die. So `bipm_fullpath()` in topo_obs.py needs to be fixed to use try/except if we keep this, as @demorest suggested.

[2020-04-16 13:12] paulray commented on #652
I made this fix in my copy and it works fine. I guess I'll make a PR for it at some point

[2020-04-16 13:58] scottransom commented on #652
If it fixes the issue, feel free to to just push it up as a bugfix

[2020-04-16 13:59] paulray commented on #652
Oops, I changed my mind. Looking at where `datapath()` is used in PINT, I think it should return None instead of raising an exception.

[2020-04-18 15:31] paulray opened #664 "Incorrect uncertainties on RAJ, DECJ?"
I've been working with PINT and was making a pretty-printer for the results of a fit. In doing so I found that the uncertainties reported on RAJ and DECJ are VERY different than Tempo2, by many orders of magnitude. Something is wrong.  Attached here is a little notebook that fits the data in pint/examples and looks at the uncertainties, compared to a Tempo2 fit of the same.
(You will have to chang

[2020-04-19 11:11] paulray commented on #664
Update, I added 4 lines to that simple notebook to try the other 2 fitters and compare their uncertainties.  Both failed.
[code]
This failed with an error about units.
[code]
I thought maybe Powell was totally broken but it is used in test_glitch.py so it must be at least partially functional. It looks like an issue with angles. Actually I just froze all the angle parameters then it failed on DM.

[2020-04-19 11:23] paulray commented on #664
Update2: I was able to get GLSFitter to run by using `fit_toas(full_cov=True)`. This ran fine but for this fitter the uncertainties (on all parameters, not just angles) are orders of magnitude **larger** than Tempo2!

[2020-04-19 11:32] paulray opened #665 "PowellFitter is broken"
I discovered this while working on issue #664

If you make a one line change to examples/fit_NGC6440E.py from WLSFitter to PowellFitter, it crashes.  This should be fixed.

Also, if scipy can do it, PowellFitter should set the covariance matrix.

[2020-04-19 21:25] demorest commented on #664
Yes, GLSFitter should be able to work even if there is no noise model.  In that case it should give same results as WLSFitter.  I think I probably introduced that bug in #648 (residual whitening), that part at least is an easy fix.

[2020-04-21 18:42] paulray commented on #660
The specific issue here is that in order to add a parameter to the model, you need to know exactly what class it is, so you can't just add F2 using `floatParameter`. You have to know that it is a `prefixParameter`.  It would be nice if the API was simpler so that it figured it out for you.
Also we noted that for historical reasons F0 is not a `prefixParameter` even though it probably should be.

[2020-04-21 18:43] paulray commented on #652
This has been dealt with.

[2020-04-21 18:43] #652 closed

[2020-04-22 10:10] paulray opened #667 "Add a model comparison pretty-printer"
Request: PINT should have a utility function that takes two model object and pretty prints them showing the differences (in sigma).

[2020-04-22 10:41] paulray commented on #664
@luojing1211 was this broken recently? I was looking at some threads on the NANOGrav Slack and you made plots comparing PINT to Tempo2.  I see them as orders of magnitude different, when just running simple examples like fit_NGC6440E.py.
PINT gives this:
[code]
Tempo2 gives this:
[code]

[2020-04-22 10:46] paulray opened #668 "PINT reports wrong number of degrees of freedom"
`fitter.resids.dof` returns an incorrect value and thus `fitter.resids.chi2_reduced` is also wrong. It seems that dof does not account for the hidden phase parameter.

For the trivial fit_NGC6440E.py example, here is what PINT gives:
[code]
and here is Tempo2
[code]

[2020-04-22 12:45] paulray commented on #492
Yeah, we really need this!

[2020-04-22 12:46] #490 closed

[2020-04-22 12:46] #600 closed

[2020-04-22 12:52] paulray opened #669 "MCMC example fit issues"
examples/fit_NGC6440E_MCMC.py is supposed to demonstrate using PINT's MCMC fitter with TOAs. It takes a couple hours to run on  my machine, which seems excessive. For a simple example like this, we should make sure it can run in a few minutes.

Then it produces this:
[code]
And the two plots below.

It seems that the uncertainties in the PAR file are just those copied from the input par file. It w

[2020-04-22 13:12] paulray commented on #665
As an addendum to this, there should be an integration test in the test suite that does the NGC6440E fit with all available fitters and ensures that get compatible fits and uncertainties.

[2020-04-22 13:40] scottransom commented on #668
yeah, this has been known and discussed for a while.  I thought there was already an issue for it, but apparently not!  Thanks for bringing it up.  I think it is an easy fix, but we have to make sure that it is changed in all the relevant places.

[2020-04-22 13:54] scottransom commented on #669
yeah, @tcromartie and I have been working on improving this and we have a bunch of test code that we've been playing with.  The MCMC fitter is basically a proof of concept as it is implemented in PINT right now.  As for improving the run time, that is almost impossible if you want good looking plots.  (Note:  I removed the explicit phase fit in my version as well.  I'm not sure if we want that in

[2020-04-22 14:56] demorest commented on #664
The problem with `GLSFitter` when you use it with `full_cov=True` and a par file with no noise model is a units issue on the TOA uncertainties.  In timing_model.py line 610, computing the covariacne matrix:
[code]
The uncertainties are used without converting units.  Generally these are us, whereas the fitter is working in seconds.

[2020-04-22 14:58] demorest commented on #664
Probably `TimingModel.covariance_matrix()` should return a value with units.

[2020-04-22 16:30] paulray commented on #664
I just checked with ELONG and ELAT and in that case the PINT uncertainties match with Tempo2. So this seems specific to RAJ and DECJ

[2020-04-23 13:52] paulray commented on #664
OK, the problem seems to be that for RAJ and DECJ the par.units (degrees or hourangle) is different than par.uncertainty.units (arcsec or hourangle_second).
Then, the fitter calls this to set the uncertainty in the output model:
[code]
But the value v will be in deg for DECJ but it is setting a value with units of arcsec.

I believe the reason @luojing1211 found that the ratio with Tempo2 was not

[2020-04-23 14:06] scottransom commented on #664
Ah-ha.  Seems like the uncertainty unit should be the same.  That's probably a god policy, in general.   Especially since we are trying to use Astropy units as much as possible!

[2020-04-23 14:36] paulray commented on #664
A "god" policy might be a bit extreme! :-)

But yes, using the same base units for par and uncertainty is probably good. And in printing you can choose any unit you want since they are astropy quantities.
Are there any other parameters that have different units like this?  I guess this comes from the fact that Tempo par files use arcsec for uncertainties on the coordinates...

[2020-04-23 15:01] scottransom commented on #664
Yeah, that's probably true.  But that is no reason for keeping the uncertainties as a different unit internally!  It just doesn't seem like a good (not god, :-) ) thing to do, in general.

[2020-04-23 15:02] paulray commented on #664
Uncertainties are set here in the definition of AngleParameter
Line 925 of parameter.py:
[code]

[2020-04-23 15:06] paulray commented on #664
If we change those, then probably something like `model.as_parfile()` will need to be changed. But if we don't we need to change the fitters that have to strip off and the reapply units to do their math.

The alternative is to have `set_param_uncertainties` set the `uncertainty.quantity` instead using a quantity with the units used in the fitter calculations (which is the unit of the parameter rat

[2020-04-23 15:35] luojing1211 commented on #664
The identifier is developed for reading the uncertainty from .par. So if the identifier is changed, we definitely need to change the from_parfile_line(). Which should not be too much.

[2020-04-23 15:39] scottransom commented on #664
Are positions the only parameter where the uncertainty is a different unit (currently) from the value itself?  If so, then I *really* think we should change that.  We could even make parameters simpler by having a "unit" in general rather than two different units for the value and the uncertainty.

[2020-04-23 15:45] paulray commented on #664
Yeah, I think I agree.  I believe that PR #670 should be a good thing whether we make that unit change or not, and it fixes the bug, so probably we can merge it first then sort out a larger change in units on parameter uncertainties

[2020-04-23 15:45] luojing1211 commented on #664
Aside from RA and DEC, the only other place could be the parameter rescaling by 1e-12 for EDOT, OMDOT, etc. I agree with the uncertain should be the same unit.

[2020-04-23 15:46] paulray commented on #664
I thought it was PBDOT that was scaled by 1E-12 and weren't we going to get rid of that, except on reading par files, as per #597

[2020-04-23 15:48] luojing1211 commented on #664
I don't think we did it yet.

[2020-04-24 10:44] paulray opened #672 "dmxparse requests"
Hi @bshapiroalbert
I have a couple requests for `dmxparse()`.

1. Could you make it work even if there is no covariance_matrix? In that case it could just use the single parameter uncertainties, and maybe emit a `log.warning()` that it is doing that?
2. I haven't tried it but the code looks like it requires that the DMX bins be continuous from an index of 1 to the maximum. But, PINT supposed to su

[2020-04-24 10:46] paulray commented on #664
@demorest Are you going to make a quick PR to fix the GLS issues mentioned above? Or, should we make a separate issue to track it?

[2020-04-24 13:33] scottransom commented on #672
@paulray How would we get the values without a covariance matrix?  I think that is basically *required* by the DMX methodology as there is a huge covariance with the average DM (and maybe a few other things).  Would like to hear from @demorest about this.  Note:  I totally agree with your #2, though.

[2020-04-24 13:35] paulray commented on #672
Maybe it is a bad idea, but I figured that DMX_nnnn should have a single parameter .uncertainty that could be used if the covariance matrix is not available. I think it is (or should be) illegal to had DM not frozen when you fit for DMX.  I assume that would be a problem either way.

[2020-04-24 13:59] bshapiroalbert commented on #672
I can definitely do number 2 right now. For number 1, I can have it output a `log.warning` and then have it try to just return any initial values of DMX instead that are already listed in the input par file, like the `DMX_nnnn.uncertainty` and `DMX_nnnn.value` and if it hasn't been fit for it should just return zero, right? But it wouldn't actually be the numbers that you want as Scott mentioned.

[2020-04-24 14:11] paulray commented on #672
Cool, sounds good! I think there is value in being able to plot the DMX time series even if you have just read it in and there are either no errors or the errors are just the uncertainties read from the par file. Doing that, with a warning, seems preferable to just having it fail.

[2020-04-24 15:14] paulray commented on #601
This is done! Now people who want to write things like F-test can use the new API and there is a good example notebook. Thanks @luojing1211 !

[2020-04-24 15:14] #601 closed

[2020-04-24 15:20] luojing1211 opened #673 "Optimize add_param function in the TimingModel"
TimingModel has a confusing function `add_param_from_top()`. We would like to get rid of it but still maintain the current functionality.

[2020-04-24 15:56] demorest commented on #664
I was thinking about wrapping it into the other GLS fixing I'd planned to do (#662).  But if you need these smaller issues fixed quicker I could put in a quick PR for them.

[2020-04-24 16:01] paulray commented on #664
Well, @luojing1211 would like to tag version 0.7 to be version of record for the paper. So, anything that we want in that version should get merged sooner rather than later. It would be good to have as few known bugs as possible in that version.

The good thing about tagging that version is that we will branch at that point and going forward the master branch won't need to support Python 2.7 or ol

[2020-04-25 11:11] #664 closed

[2020-04-25 11:11] #668 closed

[2020-04-25 11:11] #665 closed

[2020-04-25 11:18] paulray commented on #491
I think this is done. Can it be closed?

[2020-04-27 13:01] paulray commented on #627
Any progress on this?  What is causing it?

I get this when reading a par file:
[code]

[2020-04-27 13:14] paulray opened #677 "Rename DelayComponent_list and PhaseComponent_list?"
I've been working on the PINT docs, specifically the example notebooks, and I think the names of `TimingModel.DelayComponent_list` and `TimingModel.PhaseComponent_list` should be changed. They are the only ones that are in CamelCase and I think it doesn't really make sense.
I think we should consider `.delay_component_list` or just `.delay_components`.

Thoughts @luojing1211  @scottransom @demores

[2020-04-27 13:20] paulray commented on #593
Note that in addition to this, PINT counts degrees of freedom by the number of parameters with `frozen=False`, and this will be wrong for `PairParameters`.  We need to rework WAVES to generate two parameters, I think.  But then things like `as_parfile()` will need to know that the two parameters are coupled and write them out on one line.

[2020-04-27 13:20] scottransom commented on #677
Hi @paulray.  Yeah, I think I agree with you.  And that does seem to be something that should probably happen before v0.7 (and be consistent with the paper).  I think I'd prefer your last suggestion:  .delay_components and .phase_components.

[2020-04-27 13:24] scottransom commented on #593
We talked about the PairParameters issue a bit before on the telecons.  I personally think they should go away.  As for parfile lines, It would probably be really simple to have the parfile readers/writers combine those if necessary/requested, but we could write them one per line as a default.

[2020-04-27 14:49] luojing1211 commented on #677
It is not as trivial as just renaming the list. The name of the list is also used in server other places. For instance, it a component does not belong to any of the current lists (phase, delay, noise), TimingModel will make a new list for it and named str(NewComponentType) + "_list" (see: https://github.com/nanograv/PINT/blob/30d916e40c0b79650afd60d7cbb24678f1bb63ab/src/pint/models/timing_model.py

[2020-04-27 16:15] paulray opened #678 "Setting MJDParameter from Time"
As I was writing docs, I found this:
https://github.com/nanograv/PINT/blob/30d916e40c0b79650afd60d7cbb24678f1bb63ab/src/pint/models/parameter.py#L852

When you set an MJDParameter to an `astropy.Time` that is in a scale different than par.time_scale, it is not converted. I think probably it should be.
[code]
returns
[code]

So I think probably the line should be
[code]
But this probably needs some

[2020-04-27 18:29] luojing1211 commented on #678
I agree with you @paulray, it should convert to the right scale. However, the location in the timing scale is a tricky part. Should we allow MJDparameter has a location?

[2020-04-27 18:33] paulray commented on #678
Yeah, this is a bit tricky!

Nearly all MJD parameters are in TDB and should not have a location (e.g. T0, PEPOCH, TASC, etc...)

I think only TZRMJD is something that might want a location.  However, its location is really specified by TZRSITE, so I think the TZRMJD parameter should *not* have a location associated with its Time object.  Instead, when a TOA is constructed from TZRMJD, TZRSITE, TZ

[2020-04-27 18:38] luojing1211 commented on #678
Maybe in the future, astropy can allow a location at pulsar barycenter. and do the conversion for us. You know what, that is called astropy.pint module.

[2020-04-27 19:16] paulray commented on #669
@juliadeneva this is the discussion I was mentioning at the NICER telecon...

[2020-04-27 20:45] paulray opened #679 "model.get_barycentric_toas() should return Time() object"
Right now `model.get_barycentric_toas()` returns an astropy Quantity with units of days.
I think it might be preferable to have it return a `Time()` object with scale="tdb".
For one thing, I tried to use `format_toa_line()` to write out those barycentric times but it caused an exception.  I think very few places use this function so far, so I think it should not be too big a deal to change. Also,

[2020-04-29 10:01] paulray commented on #633
I've currently working on a notebook where I load a set of TOAs and then have a few different model objects that I'm fitting to those TOAs. I also have a couple of sets of TOAs (from different telescopes) that I'd like to fit to the same model. Are there 'gotchas' here that I should be aware of?

[2020-04-30 16:24] #672 closed

[2020-04-30 16:26] #667 closed

[2020-04-30 17:52] paulray opened #681 "Why is frozen being changed?"
https://github.com/nanograv/PINT/blob/f9ee990aa09f94d566816929d6b071e5e7a5c5c2/src/pint/utils.py#L624-L633

@luojing1211 in the code above, I construct the parameter with `frozen=False`, but when I do that somehow frozen is being reset to True. I have to manually reset it to False. Any idea why?

[2020-04-30 18:33] luojing1211 commented on #681
That should not happen. Let me investigate.
-Jing

On Thu, Apr 30, 2020 at 1:53 PM Paul Ray <notifications@github.com> wrote:

[2020-04-30 19:02] luojing1211 commented on #681
Found it. A bug deep in the code.

https://github.com/nanograv/PINT/blob/f9ee990aa09f94d566816929d6b071e5e7a5c5c2/src/pint/models/parameter.py#L498

[2020-04-30 19:07] paulray commented on #681
That should be `frozen=frozen` right?  I'll add that to  my next PR.

[2020-04-30 19:09] luojing1211 commented on #681
Yes. For other non-fitable parameters (i.e. strParameter, boolParameter), it is set to be True always. But floatParameter should be `frozen = frozen`. I really need to optimize/clean up the parameter.py.

[2020-05-01 15:35] paulray opened #682 "Clean up xpass"
Some of our tests are "xpass", which means the test was expected to fail but is passing. We should go through and clean those up.

[2020-05-01 16:14] paulray commented on #682
Also running the tests gives a lot of deprecation and ERFA warnings that should be cleaned up. They are just confusing.

[2020-05-01 21:37] paulray opened #684 "Differences in parameter correlation matrix"
Below are three correlation matrix outputs from TEMPO, Tempo2 and PINT.
A couple things to note:
* The sign of the correlations for some, but not all, parameters are different in PINT than they are in TEMPO or Tempo2 (which agree). It is a bit agonizing to compare since the order of params is different, but it seems like the correlations with the position parameters are the ones with opposite sign

[2020-05-01 21:47] scottransom commented on #684
I noticed the PINT vs TEMPO sign differences when I made the pretty printer.  I'd be willing to bet that ours are correct (given our deriv calculations and the fact that I don't think that anyone did anything with TEMPO's but look at them), but it would be good to verify that.  I'm not sure how, though...

What is the offset parameter?  Is that something to do with the absolute phase?  If so, we d

[2020-05-01 21:54] luojing1211 commented on #684
Here is why the derivatives have a negative sign. It also has an explanation in the comment.

https://github.com/nanograv/PINT/blob/f9ee990aa09f94d566816929d6b071e5e7a5c5c2/src/pint/models/timing_model.py#L1062

[2020-05-02 00:18] paulray commented on #684
@scottransom Yes I think the offset is just the hidden absolute phase parameter in the design matrix.

@luojing1211 I see how that could explain an opposite sign convention, but PINT has *some* values opposite sign and others not.

[2020-05-02 16:00] paulray opened #686 "Should use real orbit phase calculation"
https://github.com/nanograv/PINT/blob/f9ee990aa09f94d566816929d6b071e5e7a5c5c2/src/pint/pintk/pulsar.py#L161

This code should use PINT's built-in ability to compute orbit phases, if possible.
Of course it really should wait for #598 to be fixed first

[2020-05-02 16:35] paulray commented on #681
Fixed in #683

[2020-05-02 16:37] paulray commented on #615
Fix is #685

[2020-05-02 16:37] #597 closed

[2020-05-02 16:38] #568 closed

[2020-05-02 16:39] #554 closed

[2020-05-02 16:39] #556 closed

[2020-05-02 16:41] #517 closed

[2020-05-02 16:42] #492 closed

[2020-05-02 16:42] #486 closed

[2020-05-02 16:42] #444 closed

[2020-05-04 13:58] #681 closed

[2020-05-04 18:56] paulray opened #687 "DMEPOCH question"
https://github.com/nanograv/PINT/blob/bf996a87c343c425e0f775bf552cec6968d619c4/src/pint/models/dispersion_model.py#L132

See the linked code.  It should normally not be the case that DMEPOCH is not set, since `validate()` will fail if there are DM derivatives and DMEPOCH is not set. However, if somehow it gets here and DMEPOCH is not set, it seems to me that a more sensible default is to use PEPOC

[2020-05-04 18:59] luojing1211 commented on #687
Should Validation just report a warning and not fall on this check?

[2020-05-04 19:01] paulray commented on #687
I'm not sure. Are there old par files that we want to support that assume that PEPOCH is to be used if DM1 is specified and there is no DMEPOCH?  I think that may be the case.

[2020-05-04 19:05] paulray opened #688 "Units in astropy Table"
There is a strange behavior in astropy Tables.  If a Table column has a unit, and you grab the whole column, or a slice of the column, you get a Column with units; but if you grab a single value you don't get a Quantity with units:
[code]

This is unfortunate.  I wonder if this will change in a future astropy, or if there is some better way of doing this that doesn't drop the units?

[2020-05-04 19:21] luojing1211 commented on #688
@mhvk Is this the same problem as the time object table column losing the location?

[2020-05-04 20:08] mhvk commented on #688
No, it is an historical artifact that `Column` treats units as a "description" that may or may not be of interest. We had a very long discussion about it, but in the end it was felt this could not be changed since there was code that relied on this behaviour (quite a bit of it by the main architect of `Table`).

Instead, if you want columns with units to behave as quantities, the suggestion is to

[2020-05-06 17:31] bshapiroalbert commented on #598
Has anything been done related to this yet? I think this would be really useful if possible, especially with the new epoch_averaging function. Right now if we want to plot the epoch averaged residuals from the `ecorr_average()` function against orbital phase right now we have to remake a set of TOA objects with the MJDs and frequencies that come out, which is do-able, but tedious.

[2020-05-06 18:19] paulray commented on #598
Not that I'm aware of. This issue definitely needs someone's attention.

[2020-05-06 18:37] paulray opened #689 "Need a function to combine two TOAs objects"
Say I have two `TOAs` objects, perhaps read from two different .tim files.
If I want to do a joint fit, I need to combine them into one object (or we need to make `Fitter` objects support multiple `TOAs` objects). At the moment, it is not clear how to do this safely, given that `TOAs` objects have properties like solar system ephemerides and clock corrections applied, etc. that may not be easily c

[2020-05-06 18:56] paulray opened #690 "Time scale for EPOCHs"
I noticed that POSEPOCH and DMEPOCH are in the ‘utc’ scale:

[code]

Is that correct? Shouldn’t they be in the TDB scale like the other epochs?

[code]

When DMEPOCH and POSEPOCH are used, it is by subtracting them from the 'tdbld' column of the TOAs table, which is certainly in TDB units, so I think they should be in TDB as well.

[2020-05-06 23:21] rossjjennings commented on #690
The epoch-changing functionality that I added also assumes these are TDB. Somehow I never noticed that they were being read in as UTC.

[2020-05-08 15:56] clp3ef opened #691 "pintk - right click to delete doesn't work"
In its original form, pintk allowed a user to right click to delete a particular TOA. This function is no longer usable and currently commented out of the code. This function could be re-implemented, allowing quick and easy deletion of particular TOAs. (Deleting TOAs is currently allowed by selecting TOAs using left click-and-drag and pressing 'd'. Whether right click should act the same as pressi

[2020-05-08 15:56] clp3ef opened #692 "pintk - on/off button for random models"
Currently, pintk calculates and plots 12 random models every time a fit is performed. The random models take ~15 seconds to calculate, lengthening the time taken for each fit considerably. An on/off button in the pintk GUI which toggles this calculation and the resulting plotting would be very useful.

[2020-05-08 16:01] luojing1211 commented on #65
Is this issue able to close, since we improved our examples?

[2020-05-08 17:45] paulray commented on #692
This is one of the issues that @champagne-cmd is going to take a look it.

[2020-05-08 17:47] #65 closed

[2020-05-08 20:47] paulray opened #693 "kepler.py?"
I just stumbled on src/pint/orbital/kepler.py. As far as I can tell, it is not use anywhere but in the unit tests for itself. It also does not use astropy Quantities and units as the rest of PINT tries to. It was added by @aarchiba. Anne, do you have plans for this or is it used in some codes of yours that use PINT?  Just wondering.

[2020-05-08 21:26] mhvk opened #694 "Ignore user matplotlib configuration for tests"
I tried to run PINT's tests with `tox -e py37` and got errors from matplotlib. It turned out there were due to my local matplotlib configuration being used (which works for me, but apparently not for PINT). Checking what happens in `astropy`, I see that
https://github.com/astropy/astropy/blob/23d04adedade2d575633b60d39bbd2e21251c3cc/astropy/conftest.py#L35-L57
has
[code]

[2020-05-09 19:13] luojing1211 opened #696 "Propose to move the summary print to Component class."
https://github.com/nanograv/PINT/blob/bf996a87c343c425e0f775bf552cec6968d619c4/src/pint/fitter.py#L178

The summary function is really useful but also looks very component-specific (i.e., a lot of 'if else" for checking the parameters. ) Maybe a better place to put these functions is the model component, and the fitter only keeps a generic wrapper function. The ordering can be set like our compone

[2020-05-10 10:03] paulray commented on #696
A reorganization would be fine with me, but I don't have time to do that.
The if/else statements are mostly for either frozen or not and for the parameter type (string, Angle, float), not over components, so I'm not sure how easy it would be (and how much replicated code there would be) if it were moved into Component.  But, I'm all for refactorings that make the code simpler if you want to give i

[2020-05-12 10:56] paulray commented on #689
Joe Swiggum also asked about doing this.

[2020-05-13 09:10] Zac-HD commented on #603
Duplicate of #457?

[2020-05-13 09:13] Zac-HD commented on #615
FYI you can [put a comment in your PR description which auto-closes linked issues](https://help.github.com/en/github/managing-your-work-on-github/linking-a-pull-request-to-an-issue) :slightly_smiling_face:

[2020-05-13 09:45] Zac-HD commented on #659
:wave: hi all, I'm not an astrophysicist but I *am* particularly interested in open source and in testing scientific code.  So if getting a Hypothesis core dev to review or discuss some tests would ever be useful, ping me and let me know how I can help!

Along with precision tests, I highly recommend getting Hypothesis to generate *any* valid data (i.e. including unusual formats) and just calling

[2020-05-13 11:27] paulray commented on #603
Indeed!

[2020-05-13 11:27] #603 closed

[2020-05-13 12:36] paulray commented on #659
Thanks @Zac-HD ! We welcome suggestions. I personally don't understand Hypothesis at all. It got added to our tests by @aarchiba and I haven't yet figured out what it is doing or how to use it. Also, it seems to be evolving so our tests now generate a ton of deprecation errors. So, a hypothesis tutorial would be great.

[2020-05-13 12:57] Zac-HD commented on #659
I [did a Hypothesis tutorial](https://github.com/Zac-HD/escape-from-automanual-testing/) for PyCon and SciPy US last year... unfortunately won't be reprising this year due to pandemic :cry:, though it was accepted.

The fixtures warning comes from [5.6.0](https://hypothesis.readthedocs.io/en/latest/changes.html#v5-6-0); I'll open a PR to fix that for you shortly :slightly_smiling_face:

[2020-05-13 13:05] paulray commented on #659
Awesome, thanks!

[2020-05-13 15:58] paulray commented on #679
At telecon we decided to change to `get_barycentric_times()` and return `Time()` object

[2020-05-13 17:27] paulray commented on #690
Fixed in #697

[2020-05-13 17:27] #690 closed

[2020-05-13 17:34] paulray commented on #688
@mhvk can I ask some advice about handling `Time()` in a table?  We currently have some columns where each entry is a `Time` object. This is necessary when the attributes of each entry could be different (e.g. location and scale). However, for some columns (perhaps TDB) we might rather have it considered to be a `Time()` object with an array of values in it since that would be much faster and more

[2020-05-13 18:04] demorest commented on #688
Also maybe relevant is #651 .. some subtle bug with Time in Table that appeared in astropy 4.0.1.

[2020-05-13 18:40] #615 closed

[2020-05-13 18:43] paulray commented on #576
I think this has been solved. Closing.

[2020-05-13 18:43] #576 closed

[2020-05-13 18:44] paulray commented on #542
I know we can now get covariance and correlation matrices, so I'm closing this.

[2020-05-13 18:44] #542 closed

[2020-05-13 20:14] paulray commented on #33
We are now on PyPI and conda-forge as pint-pulsar. You can't install both pint-pulsar and pint since they conflict. This should be prevented by conda, but I don't know how to do it for PyPI.  Anyway, closing...

[2020-05-13 20:14] #33 closed

[2020-05-13 21:43] mhvk commented on #688
@paulray - yes, I looked at the table at some point because of the change of behaviour of `Time` for lists of input times, and hacked a bit at trying to use pure `Time` columns throughout before realizing that it would never work for the input columns, which, as you note, have different scales.
In principle, it can work for `tdb` if you are willing to drop the location column (since that is `None`

[2020-05-13 21:44] mhvk commented on #688
p.s. Probably best to discuss further in a separate issue!? I think this one would be more about just switching to `QTable`, which helps with the units, but makes no difference for times.

[2020-05-13 21:55] paulray commented on #514
Closing this since we now know we are dropping Python2 as soon as we tag 0.7.
@demorest did you ever look back at presto in conda? Did you try it with conda-forge? That is where I did pint.

[2020-05-13 21:55] #514 closed

[2020-05-13 22:02] paulray commented on #550
We do support astropy 4, so I think this can be closed (although 4.0.1 is a different story, see #651).

[2020-05-13 22:02] #550 closed

[2020-05-13 22:14] demorest commented on #514
@paulray yes I did get presto working in conda, with both python 2 and 3.  I had to send some fixes in to the conda-forge PGPLOT package to enable this, those were merged a while ago.  presto itself is not in conda-forge but it's online in my anaconda.org channel (https://anaconda.org/demorest).  If @sransom thinks it's a good idea I could work on moving it over to conda-forge, but this is of cour

[2020-05-13 22:17] demorest commented on #514
PS same goes for a number of other pulsar packages I've conda-fied recently (psrchive, dspsr, tempo, tempo2, ...)

[2020-05-14 10:35] paulray commented on #514
Wow, @demorest that is great!  That should be publicized more!  A lot of people would save a lot of agony if they could "conda install presto psrchive pint-pulsar tempo tempo2 dspsr" !!

[2020-05-14 10:47] sguillot commented on #514
I will definitely try that!

[2020-05-15 18:12] bshapiroalbert opened #703 "Need to add setup() to remove_param()"
Need to add a call to `setup()` when running `remove_param()` otherwise it doesn't reset the correct number of parameters in each component and errors when trying to run `fit_toas()`.

[2020-05-15 18:23] luojing1211 commented on #703
I will take a look at this issue.

[2020-05-15 19:25] paulray commented on #651
Damn, this one is hard to find! I've been looking at it for a while.  I created a manual Table that tries to be as close as possible to the single TOA table created from zerophase.tim. They look identical but one crashes and the other does not:
[code]
WTF!?!?

It has something to do with how length 1 arrays/lists are packed into Table columns.
The line that crashes is this:
`Time(ts.table["tdb"])`

[2020-05-15 19:38] luojing1211 commented on #651
What is `ts` here? a TOAs class?

-Jing

On Fri, May 15, 2020 at 3:31 PM Paul Ray <notifications@github.com> wrote:

[2020-05-15 19:45] paulray commented on #651
Yes, it is from `ts = TOAs('zerophase.tim')` then `ts.compute_TDBs()`

[2020-05-15 19:47] paulray commented on #651
Since it crashes, I figured I'd be able to construct a Table that would also crash and thus be able to file an astropy bug report independent of PINT, but I could not make it crash.

[2020-05-15 19:51] luojing1211 commented on #651
It is indeed a deep one. ts.table["tdb"] should be a table column type
and ts.table["tdb"][0] I bet is a Time object. I guess, somehow a table
column with one Time object does not have the correct format information.
-Jing

On Fri, May 15, 2020 at 3:47 PM Paul Ray <notifications@github.com> wrote:

[2020-05-15 19:55] demorest commented on #651
@paulray yes I went through this same exact process a couple weeks ago with same results, I couldn't reproduce this outside the context of PINT..

[2020-05-15 19:58] paulray commented on #651
Yep, it is infuriating! :-)

[2020-05-19 19:01] paulray opened #707 "Add version check to pickle file"
I suggest that the PINT version number be embedded in the .pickle.gz files of TOAs. Then when it is read, it can be checked against the current version and if it is old, it won't use the pickle but will regenerate from the .tim file.

[2020-05-20 11:52] paulray commented on #596
Note that @juliadeneva ran into some of these same issues in trying to using pintk to fit a model with a bunch of JUMPs.

[2020-05-20 12:02] paulray opened #708 "Sanity checks in fit_toas()"
I suggest we consider adding some sanity checks in `Fitter.fit_toas()` before beginning the actual fit. This would allow us to print sensible error messages for common conditions rather than having fitters crash with hard to understand exceptions.  This could include:
* Make sure all mask parameters select at least some TOAs.  This would catch the case where you have a fitted JUMP or DMX bin that

[2020-05-20 12:53] paulray opened #709 "Add pulse numbers"
Maybe there is a way to do this that I'm just missing, but here is a use case.
I have a model and a set of TOAs. The model is phase connected. Now I want to change some parameters in a way that might cause phase wraps (e.g. setting F2 to 0, or whatever).  I want the pulse numbers to keep me from losing phase.  I don't see in PINT how to assign pulse numbers based on a model and then use then in su

[2020-05-20 13:04] paulray opened #710 "Problem with pickled TOAs"
There is a bug in pickled TOAs. When you create a TOAs object like this:
[code]
it has a `traints.clock_corr_info` that is a dictionary with several entries.  But when you read it from a pickle file, that dictionary is empty.
[code]

This causes a crash when you try to compute phases with `abs_phase=True`

[2020-05-20 13:42] scottransom commented on #709
We've certainly done things *like* this.  And we can certainly assign pulse numbers to columns in a TOA table based on a model.  And we can use those pulse numbers in other fits.  So we must be really close to being able to do this the way you say.

If you have a TOAs instance t, and a model, you can compute the pulse numbers using:
t.compute_pulse_numbers(model)

Then, if TRACK is -2 (which is a

[2020-05-20 13:43] scottransom commented on #709
Were you expecting to see compute_pulse_numbers in the *model* instance rather than the TOA instance?  We could certainly put it there as well.  But you want to modify the TOA object, which is why I (I think it was me) put it there.

[2020-05-20 13:56] paulray commented on #709
Oh yeah, I had just missed that `toas.compute_pulse_numbers()` existed!  We do support TRACK -2, so I think I have everything I need.  I *absolutely* agree that PINT should have a sensible name for TRACK -2 and only support that crazy nomenclature when reading a legacy par file, for backwards compatibility.  Have to think about the best way to do that.

[2020-05-20 15:06] demorest commented on #708
I think these are good ideas.  For the first point, I think most of the code should go into the timing model, there should be something like `TimingModel.sanity_check()` that fitters (or whatever else) can call.

For the second point, yes the fitters can/should check for this by examining the results of SVD for small singular values which implies highly covariant params.  Right now there is the "t

[2020-05-20 15:16] demorest commented on #707
I've never really liked the TOA pickling, because of issues like this.  The main reason we do it is because the initial TOA reading/processing was really slow early in PINT.  Is this still the case now?  Are there any use cases that would be seriously affected if we did not pickle TOAs by default?

[2020-05-20 15:17] demorest commented on #707
PS, the version check is of course a good idea if we want to continue to use pickled TOAs!

[2020-05-20 15:37] paulray commented on #707
I'm fine with having use_pickle=False by default. But, I do use pickles a lot. For example, when I'm writing a notebook to do analysis with PINT, I tend to "Restart and Run All Cells" a lot as I'm hacking away at the code.  This process goes a lot faster if it just has to re-read the pickle, so I don't want to get rid of it completely.

[2020-05-20 15:42] scottransom commented on #707
Pickling can still be *extremely* useful.  Especially for single photon timing (for example).  Here is loading of the J1713 12.5yr TOAs with and without pickle.  The difference is over a minute without, and 2.5 sec with.  I think it will be very easy to fix this up.  Although I do think we need better tests that will compare TOAs objects loaded with and without pickling and make sure they are iden

[2020-05-20 16:20] paulray commented on #709
For the record, your solution worked great. I wonder if that is in any of the documentation or example notebooks. It is VERY useful!

[2020-05-20 16:43] scottransom commented on #709
Excellent.  We should just change that TRACK = -2 thing.  It really annoys me.  I think that your summer student from a couple years ago put that in.  So we can probably just change it.  I can guarantee you that no one is using it (yet).

[2020-05-20 16:55] paulray commented on #709
I'll spawn an issue for discussion.

[2020-05-20 16:58] paulray opened #711 "Change TRACK handling"
Currently, PINT uses a model parameter called TRACK, which is set to -2 if you want to use apply pulse numbers when computing residuals. I don't think any other of the TEMPO/Tempo2 TRACK modes are currently supported. This should be changed to a more PINT-like way.  I'll add more thoughts on this later.

[2020-05-20 20:02] #692 closed

[2020-05-20 20:08] paulray commented on #635
It should also write out parameters that allow Tempo2 to properly process a PINT par file. Most important is "UNITS TDB" but others could be useful as well, like "MODE 1"

[2020-05-21 19:52] #710 closed

[2020-05-21 22:51] bastianbeischer commented on #651
astropy 4.0.1 has (among others) his change (https://github.com/astropy/astropy/pull/9969):

[code]

Could you try to revert those lines? The one test I ran passed afterwards. This might help to narrow the problem down.

[2020-05-22 09:11] bastianbeischer commented on #651
The bug could also be with something else in that PR...

[2020-05-22 11:36] paulray commented on #651
Nice work finding that! Indeed, if I install astropy==4.0.1 then test_absphase.py fails. If I then comment out those three lines, it passes. So that is definitely the culprit!

[2020-05-22 19:14] luojing1211 opened #713 "the correct way to get_PSR_freq"
Currently get_PSR_freq(modelF0=True) only returns F0  in the model, however, should we get the F0 at TOA? F0(TOA) = F0 + dt * F1 +....
Secondly, this check seems duplicated with the Spindown component's validation.

https://github.com/nanograv/PINT/blob/6fbbd924ff6b9a1c455ffd1351286a75442fe130/src/pint/residuals.py#L135-L156

[2020-05-22 19:21] paulray commented on #713
When we need precise frequency at a TOA (e.g. in zima.py), I use this:
[code]
I seem to recall testing that in residuals but it makes it really slow. It is an outstanding problem that F0 is used for frequency in some places like this. It is often a sufficient approximation, but not always. I timed a pulsar that changed in period by a factor of two in a couple years.

[2020-05-22 19:24] paulray commented on #713
See this discussion: https://github.com/nanograv/PINT/issues/415

[2020-05-22 19:27] luojing1211 commented on #713
Yeah, I remember that. Should we at least provide a Taylor expansion version of F0 at TOA? Plus, the check should use the spindown validation.

[2020-05-22 19:32] paulray commented on #713
Sure, those changes would be fine with me.

[2020-05-22 19:37] scottransom commented on #713
Could he have it as an option to use the full `F_local = m.d_phase_d_toa(ts)` but use the quick normal version by default?

[2020-05-22 19:52] paulray commented on #713
That sounds fine.  For option 3, it will need to be passed a TOAs object as an argument.
I think the functionality of getting the pulsar freq is used elsewhere in PINT, so we should make them all use this one function, with its three options depending on their needs for speed and/or accuracy.

[2020-05-22 19:58] luojing1211 commented on #713
Yes, for option 2, one will need a timestamp at least.
-Jing

On Fri, May 22, 2020 at 3:52 PM Paul Ray <notifications@github.com> wrote:

[2020-05-25 12:16] bastianbeischer commented on #651
Here is a non-PINT reproducer:

[code]

[2020-05-27 14:52] #707 closed

[2020-05-28 18:09] bshapiroalbert commented on #640
This issue can probably be closed now, yay for checking things off of lists!

[2020-05-28 18:09] #640 closed

[2020-05-30 11:06] bastianbeischer commented on #651
I took the liberty to report this problem to astropy (https://github.com/astropy/astropy/issues/10417) and they actually already have a fix for this in master (the fix will be part of both 4.1 and 4.0.2). However there are new issues, causing the PINT tests to fail. The astropy developer suggested that a workaround might be easier to do in PINT. Would anyone mind to take a look?

[2020-06-01 13:53] paulray commented on #651
Thanks @bastianbeischer! The astropy folks closed the issue but I think the fix should really be there. I added a comment to that closed issue.  PINT computes `loc.get_gcrs_posvel(t)` where `loc` is a scalar `EarthLocation` and `t` is a `Time` with an array of values. This used to work fine for any length array. Now it fails if the array of values is length 1. Why should length 1 arrays be illegal

[2020-06-01 15:47] paulray opened #717 "Support -padd flag"
It seems that TEMPO and Tempo2 support the -padd flag on their TOA lines, which applies a phase offsets to TOAs.  PINT does not support this. It does support the -to flag, which is the same but for TIME. It also does support the PHASE command in TOA files so most of the functionality is there.  Probably this is an easy fix.

I found this when trying to process EPTA data that used the -padd flag in

[2020-06-01 15:50] luojing1211 commented on #717
I would like some type of flag manger in the code. Maybe it will complicate our code. But know what flag is applied on which TOAs would be nice.

[2020-06-01 16:59] scottransom commented on #717
@luojing1211 All the flags are listed for each TOA in the "flags" column.  And if those flags have an action, they they have been applied.  What additional functionality would you like?

re -padd, given that this is PHASE, which means that it depends on the timing model, I'm not sure that this is actually a super easy addition to PINT...

[2020-06-01 17:08] paulray commented on #717
Well we support the PHASE TOA command. Those values get added to the "delta_pulse_number" table column. See line 1041 of toa.py.  I think we could just add in the value of this flag to that one.

[2020-06-01 17:11] scottransom commented on #717
@paulray I had forgotten about that.  Then yes, I agree, it should be a very simile change (maybe only a one or two liner).  Sorry about that!

[2020-06-01 17:13] luojing1211 commented on #717
@scottransom Maybe a first and easiest one would be some type of summary. For example, -padd flags can be read by TOAs class without any problems. But I would never know this will be applied to PHASE. I believe something like this will help to increase the transparency of PINT.

[2020-06-01 17:19] paulray commented on #717
Indeed, until today I had never heard of the padd flag!

[2020-06-01 17:27] luojing1211 commented on #717
If we can also have some tests for the descriptions of flags, it would be nice. But I understand how tricky it can be.

[2020-06-01 17:43] paulray commented on #717
Hmm. I implemented a fix, but in editing the code I had to re-arrange some lines. I believe that PINT may not have been respecting PHASE TOA lines when pulse numbers were not being used.
I just looked in tests/datadir and there is no .tim file with a PHASE command in it, so I think is not being tested.

[2020-06-01 18:28] paulray commented on #717
Indeed PINT was not respecting the PHASE TOA command unless pulse number tracking was on.  I fixed this and now it matches the behavior of TEMPO. But, Tempo2 does not seem to be applying the PHASE command. I just don't get it.  Anyway, it does what I think it should do now and I'm adding a test.

[2020-06-03 13:54] paulray commented on #677
I suppose this should be closed since we did not do it before v0.7 and there are some valid reasons for the awkward naming.

[2020-06-03 13:56] paulray commented on #669
How is this going @scottransom and @tcromartie? If you have improvements in the MCMC fitter and this example looks better, it would be great to get that merged.

[2020-06-03 15:06] #717 closed

[2020-06-03 19:19] paulray opened #720 "Inclination prior"
@kerrm wrote this Prior class which is uniform in COSI, appropriate for random inclinations.
[code]
We should add it to priors.py in PINT and add a unit test.

[2020-06-04 12:26] paulray opened #721 "Performance issue with Ecliptic par files"
The benchmarking and profiling work of @champagne-cmd is already paying off!
I was browsing the html report from the bench_chisq_grid_WLSFitter.py benchmark and I noticed that a large amount of time was being spent in astropy coordinate transformations.  Changing the par file to use equatorial instead of ecliptic coordinates sped up the run time of the benchmark from 121 to 80 seconds!

The reason

[2020-06-04 13:30] luojing1211 commented on #721
At least we can do better at line:
https://github.com/nanograv/PINT/blob/dce9c94a038e041e171285bdeeae2a5c7c37c06a/src/pint/models/astrometry.py#L493

[2020-06-04 14:01] paulray commented on #721
I don't understand @luojing1211 ? Right now the TOAs table has `ssb_obs_vel` as a column, which is the vector velocity of the observatory expressed in ICRS coordinates. This does not depend on the pulsar position.

I'm suggesting (1) add a column that has the `ssb_obs_vel_ecl` vector expressed in ECL coords, and (2) making an `ssb_to_psb_xyz_ECL()` method that computes the vector to the pulsar in

[2020-06-04 14:15] luojing1211 commented on #721
Sorry, I miss understand you. Now I get you. It would work. But do we want all of our calculations based on the ICRS coordinate? I had this problem when developing the DDK model. We decide to have everything based on the same coordinate system.

[2020-06-04 14:22] paulray commented on #721
I'm not suggesting any kind of global change, or any change to the fundamental coordinate system. It would basically just be a precomputation of a transformation that is done on the fly currently and it would then be doing the dot product in the same coordinate system as the Astrometry component is using.

[2020-06-04 14:28] luojing1211 commented on #721
It should be ok if it is the dot product part, which should be the same in any coordinate.  I would also add tests for it.

[2020-06-04 19:42] paulray commented on #689
Interestingly I just found that inside mcmc_fitter.py, there is a `concat_toas()` function. This could form the basis of this, but probably needs some confirmation that the resulting TOAs object is all consistent.

[2020-06-08 17:42] luojing1211 commented on #677
I am working on some fix to this issue. It will come soon.

[2020-06-08 17:42] #604 closed

[2020-06-08 17:45] paulray commented on #677
Oops, sorry I thought we decided not to change it.  That is great. Reopening.

[2020-06-08 17:47] luojing1211 commented on #677
It should not be in the 0.7 version milestone. But I realized there would be some roadblock for future development.

[2020-06-09 20:11] #720 closed

[2020-06-10 20:05] mtlam opened #725 "Add code of conduct"
I stumbled upon this idea randomly, actually, but I think that adding one is a good idea. One common one is the [Contributor Covenant](https://www.contributor-covenant.org/) though there are others. I've added a modified version to [PyPulse](https://github.com/mtlam/PyPulse/blob/master/CODE_OF_CONDUCT.md) with an appropriate linking badge on the README.

[2020-06-11 16:16] paulray commented on #725
I like having a Code of Conduct.  Let's discuss at a telecon and make sure we put some thought into which one. I guess we should think about consistency with NANOGrav's collaboration code of conduct.

[2020-06-14 18:17] neevshah101 opened #728 "Small Issue after Installing"
I just installed PINT. On `import pint` in a virtual environment on Spyder, I am getting this error `ValueError: This platform does not support extended precision floating-point, and PINT cannot run without this.` I am not sure how to solve this?
`ValueError                                Traceback (most recent call last)
<ipython-input-1-755bae85b689> in <module>
      5
      6 import numpy as n

[2020-06-14 23:59] luojing1211 commented on #728
What is your OS?

On Sun, Jun 14, 2020 at 2:17 PM Neev Shah <notifications@github.com> wrote:

--
-Jing

[2020-06-15 06:17] neevshah101 commented on #728
I am using Windows 10, x64. I have never faced this issue while using modules like Astropy etc

[2020-06-15 10:17] paulray commented on #728
PINT is not supported or tested on Windows.

You might be able to make it work by disabling that precision check, but you would be losing precision.

[2020-06-15 19:41] #728 closed

[2020-06-17 15:02] #721 closed

[2020-06-17 20:31] swiggumj opened #730 "Recognizing Parkes-format TOAs"
PINT threw an error while parsing a tim file like the one attached (Parkes-format), an issue with auto-parsing TOAs in this format. See line 205 of toa.py.

Unit tests should include a Parkes-format TOA file to avoid this in the future.

[TOA_parkes.txt](https://github.com/nanograv/PINT/files/4794973/TOA_parkes.txt)

[2020-06-18 13:47] #730 closed

[2020-06-18 19:18] paulray commented on #708
@champagne-cmd since you are figuring out maskParameters in your JUMP work, could you also add the first of these sanity checks?  You just need to loop over any parameters where `is_mask` is True and test that `model.PARAM.select_toa_mask(toas)` is not empty.  Once we have at least that functionality is a TimingModel.sanity_check function, other stuff can be added later.  We (@luojing1211 and I)

[2020-06-18 19:26] champagne-cmd commented on #708
I’d be happy to!

On Thu, Jun 18, 2020 at 3:19 PM Paul Ray <notifications@github.com> wrote:

--
Sincerely,
Chloe Champagne
Computer Engineering and Applied Math Majors
Vanderbilt University, Class of 2022

[2020-06-18 20:02] #709 closed

[2020-06-19 15:04] paulray opened #733 "Solar wind dispersion broken"
https://github.com/nanograv/PINT/blob/3486bb7ede296008d868e727d3859c33e335a1cd/src/pint/models/solar_wind_dispersion.py#L111

This line uses the variable `AUdist`, which is not defined anywhere, so it fails when you try to fit.

[2020-06-19 15:08] paulray commented on #733
I suppose it should be replaced with `const.au` and the unit tests should be updated to make sure that solar wind fitting works.

[2020-06-19 15:11] paulray commented on #733
In addition, when I fit for NE_SW, I get a very different answer than Tempo2 gets, e.g. Tempo2 gives 4.9, while PINT gives -1.8.  I suspect the equations are wrong.

[2020-06-19 15:13] luojing1211 commented on #733
Is the derivative wrong or the delay function is wrong?

[2020-06-19 15:15] paulray commented on #733
Perhaps both?

[2020-06-22 20:30] paulray commented on #733
If I use the tempo2 "fake" plugin to make TOAs from a simple timing model with NE_SW 10 and then plot the residuals in PINT, I get this plot. Ugh. It looks like the solar wind in PINT is making both positive and negative contributions!

![fakeSW10](https://user-images.githubusercontent.com/1771428/85332209-87d97380-b4a5-11ea-97f7-51047873fc00.png)

[2020-06-22 20:48] paulray commented on #733
@scottransom maybe this would be good for your student to look into since he's already doing the tropospheric delay?

[2020-06-23 20:27] champagne-cmd commented on #708
Hey @paulray I wrote this sanity check for TimingModel:
[code]
I placed it at the top of each `fit_toa` function in `fitter.py`. When I try running the testing suite, 8 of the tests are failing because a parameter called TNEQ1 has more key values than `select_toa_mask` allows. Do I need to add more requirements for the parameters to test? Or move where the sanity check is called? I can also go ahe

[2020-06-23 20:38] paulray commented on #708
Cool, thanks for doing that!  I'm not sure what is up with TNEQ1. Hopefully @demorest or @luojing1211 can explain.

[2020-06-25 15:36] champagne-cmd opened #736 "New SciPy version breaking Travis-CI"
Some change in the latest version of SciPy (1.5.0) is causing Travis tests to fail, specifically when testing the notebook `understanding_fitters.md`. The error says `numpy.any()` is being called on an unsupported type when calling `powfit.fit_toas()`. Excluding SciPy version 1.5.0 in `requirements.txt` and `setup.cfg` bypasses the issue, but we should figure out what changed in SciPy to cause the

[2020-06-25 18:23] paulray opened #737 "replicate never used"
@luojing1211 This replicate function is never used in PINT.  It wasn't working but @champagne-cmd fixed it in her recent PR.  But, how is this different from `deepcopy(model)`? Do we need this?
https://github.com/nanograv/PINT/blob/3486bb7ede296008d868e727d3859c33e335a1cd/src/pint/models/timing_model.py#L550-L562

[2020-06-25 18:24] paulray commented on #737
Here is the error when using replicate currently:
[code]

[2020-06-27 10:39] paulray commented on #633
While looking at this code, @champagne-cmd and I also discovered that there are two values that are cached in binary model, `E` and `nu`.  It is not obvious to me from the code that these caches are checked to see if the values that go into them have changed. This should be checked for safety.
https://github.com/nanograv/PINT/blob/3486bb7ede296008d868e727d3859c33e335a1cd/src/pint/models/stand_alon

[2020-06-30 19:14] mtlam opened #738 "Change glitch epoch (GLEP) to MJDParameter"
Trying to set a glitch epoch equal to the period epoch just as a starting guess, i.e., `m.GLEP_1.quantity = m.PEPOCH.quantity`, fails. A workaround can be done by `m.GLEP_1.quantity = float(m.PEPOCH.quantity.value)` but I think it would be better if `GLEP_1` was stored as an astropy Time object (e.g., an `MJDParameter`) and not a quantity with unit days.

[2020-07-03 22:16] mtlam opened #740 "TimingModel components() fails"
Upon running this minimal set of code:
[code]
an error is returned:
```TypeError: 'dict' object is not callable```

[2020-07-03 23:03] luojing1211 commented on #740
Don’t call it. Just m.components

On Fri, Jul 3, 2020 at 6:16 PM Michael Lam <notifications@github.com> wrote:

--
-Jing

[2020-07-03 23:08] mtlam commented on #740
Ah, I see. Duh, that would have made sense. But, in that case, the docs need to be updated since a function call is implied: https://nanograv-pint.readthedocs.io/en/latest/examples/build_model_from_scratch.html#Useful-methods-of-TimingModel

[2020-07-03 23:11] luojing1211 commented on #740
Yes. I will change that.

On Fri, Jul 3, 2020 at 7:08 PM Michael Lam <notifications@github.com> wrote:

--
-Jing

[2020-07-07 18:46] mtlam opened #742 "Change dispersion constant?"
Inspired by discussions of https://arxiv.org/abs/2007.02886, the dispersion constant is defined as <a href="https://www.codecogs.com/eqnedit.php?latex=\frac{c&space;r_e}{2\pi}" target="_blank"><img src="https://latex.codecogs.com/gif.latex?\frac{c&space;r_e}{2\pi}" title="\frac{c r_e}{2\pi}" /></a> (in the notation I more commonly use). This is equal to _K_ = 1.3445365918(9)-07 m^2/s, versus the v

[2020-07-07 19:12] paulray commented on #742
This certainly would need some thought and discussion.  Can you get the precise values used by TEMPO and Tempo2, for comparison?

I think for sure we could imagine adding a dispersion model that gives the "Dispersion Slope" (as Shri calls it) and avoids the constant altogether.

[2020-07-07 19:29] mtlam commented on #742
It looks like both use the same 1/2.41 value, to some power of 10 depending on units.

I guess we could imagine adding in a different dispersion model but I was thinking at least for now just the notion of the fundamental value. The former falls into a similar category, at least in my brain, of being able to add in a gas temperature if someone so wanted, which I will say is less important for puls

[2020-07-08 02:26] luojing1211 commented on #737
This is merged, close.

[2020-07-08 02:26] #737 closed

[2020-07-08 15:25] champagne-cmd commented on #596
Fixed by #735, closed.

[2020-07-08 18:43] #596 closed

[2020-07-09 14:21] scottransom commented on #742
There is a nice discussion of this going on in the FRB2020 meeting slack.  Most pulsar-related codes (including PRESTO, TEMPO, Tempo2, and PINT) use 1/0.241 as the DM constant.  SIGPROC uses 4.15.  Lorimer & Kramer recommend 4.148808, and the public FRB codes use a variety of things around 4.15....  *sigh*

[2020-07-09 14:41] paulray commented on #742
https://github.com/nanograv/PINT/blob/d21a6cc9312031501585c12ae171d9076a2725bd/src/pint/models/dispersion_model.py#L14-L16

As evidenced by the big discussion happening among FRB2020 attendees, I think this comment should be expanded to explain the background for the choice of DMconst and the convention defined in Manchester and Taylor and how it is consistent among TEMPO, Tempo2 and PINT.

[2020-07-13 13:04] paulray opened #745 "Missing obliquity in coords_as_ECL()"
If you load a timing model that is in Equatorial coordinates, then ask for the coords in ECL, it crashes because the obliquity is not set. This case should be checked for and probably should fall back to the default value for ECL, perhaps with a warning.

[code]

[2020-07-13 13:31] luojing1211 commented on #745
That is a problem, ICRS does not have a default ECL. If one wants to do the
transfer, the ECL parameter should be given.
-Jing

On Mon, Jul 13, 2020 at 9:05 AM Paul Ray <notifications@github.com> wrote:

[2020-07-13 13:33] paulray commented on #745
Maybe `coords_as_ECL()` should have a kwarg that allows setting ECL, with the sensible default value?

[2020-07-13 13:34] luojing1211 commented on #745
'IERS2010' is the current default.

-Jing

On Mon, Jul 13, 2020 at 9:33 AM Paul Ray <notifications@github.com> wrote:

[2020-07-14 02:39] rossjjennings commented on #627
This started to bother me again when I was experimenting with the NANOGrav notebook server earlier today. I did some detective work and found the proximate cause: the function `TimingModel.read_parfile()` [checks](https://github.com/nanograv/PINT/blob/d21a6cc9312031501585c12ae171d9076a2725bd/src/pint/models/timing_model.py#L1261) the return value of each parameter's `from_parfile_line()` method on

[2020-07-14 13:52] #745 closed

[2020-07-15 15:29] scottransom opened #748 "TOA reading as a model method?"
So in our example fit-NGC6440E.py, we currently read the model first and then read the TOAs.  But we don't use the information that is (potentially) in the model to do a better job reading to TOAs.  For instance, we ignore the ephemeris used and also whether the planetary shapiro delay is going to be used or not.

Should we make using the model information an option for get_TOAs()?  Or alternative

[2020-07-15 15:36] scottransom commented on #742
There has now been a separate email thread about this and the overwhelming consensus among the pulsar people was that timing code (especially) should stick with the 1/2.41e-4 convention.  So I think that we should do that.  However, we might want to add a helper function that could convert "pulsar" DM to one that is based on some other DM constant if requested.

[2020-07-16 14:31] swiggumj opened #750 "validate() does not raise an exception multiple copies of model components"
I ran into this issue when trying to implement a utility that replaces AstrometryEquatorial with AstrometryEcliptic. In that function, I wanted to first check that the input model object only contains a single astrometric model component (Equatorial) then after adding an Ecliptic component with corresponding values set properly and removing the Equatorial component, I want to validate once again t

[2020-07-16 17:16] scottransom opened #751 "improve model parameter derivative tests"
The tests of our derivative functions is now using finite differences with hard-coded step sizes.  This is prone to issues and requires manual changes to the test file test_derivative_utils.py.

I recommend changing all of the derivative tests to use automatic differentiation code.

Some possibilities are:
JAX (possibly the best / most powerful choice?):   https://github.com/google/jax
autograd (a

[2020-07-16 19:59] paulray commented on #750
Thanks for pointing that out!

[2020-07-16 20:03] paulray commented on #748
That is a very good suggestion!  Currently, something like pintempo has to do a bunch of checks to deal with various situations like setting ephemeris, adding TIM file JUMPs to the model, and computing pulse numbers is TRACK mode is on:
[code]

[2020-07-16 20:04] paulray commented on #742
Agree with Scott.  I think the comments in the code should be updated to explain the consensus.

[2020-07-16 20:09] luojing1211 commented on #748
Are we going to make a component for these control parameters? If that is the case, we can add validate() and other fun stuff.

[2020-07-16 23:11] luojing1211 opened #753 "model builder adds component category order"
These two lines add a unregister the component order to the DEFAULT_ORDER list
https://github.com/nanograv/PINT/blob/ace2b1c33f45d83233507a378e6cebd5e775079e/src/pint/models/model_builder.py#L151-L152

[2020-07-22 12:15] zimmyneutron commented on #733
@paulray To clarify, you are using tempo2 fake plugin for data, then using PINT to calculate the residuals between the model and the fake.tim data without fitting?

[2020-07-22 17:20] swiggumj commented on #725
This feels important and the example @mtlam linked looks great to me. What needs to happen to resolve this? Michael, it looks like the PyPulse version just removes some of the enforcement guidelines. Are there other differences? @paulray did you have other examples in mind that we should consider?

[2020-07-22 18:32] mtlam commented on #725
I removed a few of the enforcement guidelines after looks at what a few other groups did but I decided that it still had enough ambiguity to still yield enforcement if needed. I think that was all.

I also acknowledged that maybe something else would work if decided by NANOGrav, for example we typically all use the same license. But I wanted to put something up and it seemed like a reasonable choi

[2020-07-23 11:44] paulray commented on #733
Yes, I think that is what I did to make that plot.

[2020-07-23 11:46] paulray commented on #725
I don't have any particular suggestions. As long as it is consistent with NANOGrav's and astropy's codes of conduct I'm fine.

[2020-07-24 19:11] swiggumj commented on #725
I pinged David Kaplan about this, so I think the Equity & Climate committee will soon make a decision one way or another about what this should look like from NANOGrav's perspective. Then we should be good to go.

[2020-07-24 19:16] scottransom commented on #725
Why are we waiting/asking for NANOGrav's perspective?  (the worrying word for me was "decision").

[2020-07-24 19:21] luojing1211 commented on #725
Does NSF have guildlines for softwares code of conduct? PINT is a
NANOGrav/NSF founded project, maybe there is some regulations.

On Fri, Jul 24, 2020 at 3:17 PM Scott Ransom <notifications@github.com>
wrote:

--
-Jing

[2020-07-24 19:27] scottransom commented on #725
Founded or funded?  And whichever, I'm not sure that that matters too much.  PINT is *not* NANOGrav.  Nor is it fully (not even close) NSF funded.  If we want a code of conduct, we can put one up there.  I'm totally fine with what I read about the Contributor Convenant that Michael posted, although I would prefer if we remove any enforcement bits (as was already stated by others).  Those can be pr

[2020-07-24 19:28] swiggumj commented on #725
I agree with @scottransom -- I don't really see why we should wait. If changes need to be made later, can't we address those as necessary sometime in the future?

[2020-07-24 20:09] #142 closed

[2020-07-24 20:15] luojing1211 commented on #725
@scottransom I mean funded. I thought PINT is funded by PFC and NRL funds. Are there any other funding resources? If yes, we should put it in the paper acknowledgment.

[2020-07-27 13:15] paulray commented on #725
My participation (and Chloe's) is funded by the Office of Naval Research 6.1 basic research funds.  I'll check the ack.

[2020-07-29 17:53] #725 closed

[2020-07-29 17:54] scottransom commented on #725
Thanks for the suggestion!  Please check it out.  We can always tweak it later if needs be.

[2020-07-29 19:10] luojing1211 opened #756 "test external clock is failing"
Our external clock test is failing in the master branch. @paulray Could you take a look?

[2020-07-29 19:16] #272 closed

[2020-07-29 19:18] luojing1211 commented on #112
#748 is related to this.

[2020-07-29 19:20] luojing1211 commented on #24
Should we close this?

[2020-07-29 19:30] luojing1211 commented on #69
Is this been addressed in the phase numbers?

[2020-07-29 19:39] scottransom commented on #24
Why close it?  Can we do this?  It is something that I think we should be able to do...

[2020-07-29 19:40] scottransom commented on #69
Yes.  This all works now.  This can be closed.

[2020-07-29 19:40] #69 closed

[2020-07-29 19:52] paulray commented on #756
Yes, I'll look into it.

[2020-07-29 19:55] paulray commented on #24
Yeah, this should be open. I think PINT got some polyco capabilities added, but I haven't found time to test them out and make sure they are compatible with TEMPO.  This is a good small project for someone who knows TEMPO polycos and wants to contribute to PINT.

[2020-07-30 12:33] paulray commented on #756
I can reproduce this on my own machine by reverting back to bumpy 1.16.4.  Currently our requirements use >=1.16.  Looks like we need to bump up that minimum version.

[2020-07-30 14:42] paulray commented on #756
OK, I fixed this by bumping to numpy>=1.17.

I also saw that we have many doc build failures. I fixed many of those, but it is still failing because the file `docs/examples/Wideband_TOA_walkthrough.md` is missing. @luojing1211 can you add that back? I'm not sure why/how it got deleted.

You can see my edits in this commit:
https://github.com/nanograv/PINT/commit/9a0341224602d463de717051b58c358ad6b

[2020-07-30 15:27] luojing1211 commented on #756
How do we make the markdown version of the notebooks? Just make docs?

[2020-07-30 15:31] paulray commented on #756
`make notebooks`

[2020-07-30 15:32] luojing1211 commented on #756
It does not convert my .ipynb to markdown. Super strange.
On Thu, Jul 30, 2020 at 11:31 AM Paul Ray <notifications@github.com> wrote:

--
-Jing

[2020-07-30 18:00] bshapiroalbert opened #757 "Error when "copy"ing WidebandTOAFitter object"
When trying to run F-tests on the WidebandTOAFitter, the `ftest()` function copies the `fitter` with `copy.deepcopy()` so that the tests are on a copy of the `fitter` and do not change the original. But I'm getting an error in the `copy.deepcopy()` line in the F-test when trying to run then on the WidebandTOAFitter:

`TypeError: __new__() missing 2 required positional arguments: 'derivative_quanti

[2020-07-30 19:52] luojing1211 commented on #757
I will fix it in a little bit.

[2020-07-31 13:29] luojing1211 commented on #756
Got the solution. When a new ipynb is created we new to use juptertxt to convert them to markdown style.

[2020-07-31 13:38] paulray commented on #756
Cool. I know I did it once before, but I forgot exactly which step did that.  I think that line is in make notebooks so i assumed it would happen automagically.

[2020-08-04 17:48] luojing1211 commented on #756
This is fixed. close.

[2020-08-04 17:48] #756 closed

[2020-08-05 14:57] paulray commented on #635
@champagne-cmd maybe this is an easy one to do?

[2020-08-05 16:47] swiggumj commented on #68
@luojing1211 @paulray Echoing @aarchiba's comment from almost a year ago... Can this issue be closed?

And maybe the control parameter wiki page can be revived with respect to more recent issues (e.g. https://github.com/nanograv/PINT/issues/748) and somehow distilled/incorporated in the docs -- if it hasn't already been.

[2020-08-05 17:09] paulray commented on #68
Yes, this can be closed. A related issue is #635. I just asked @champagne-cmd to take a look at that one so at least after you do a fit the START and FINISH would track the first and last TOA and get written into the par file.

[2020-08-05 17:09] #68 closed

[2020-08-05 17:26] swiggumj commented on #654
I think this issue may also be related to https://github.com/nanograv/PINT/issues/750. In other words, one solution might be to re-work the `validate()` method.

Also, isn't #304 now fixed?

[2020-08-05 17:28] swiggumj commented on #304
@paulray @dlakaplan I think this issue can be closed...? More development towards allowing different parameter mixtures is contained in #654 (I think) -- see my recent comment there.

[2020-08-06 15:02] #757 closed

[2020-08-06 16:59] scottransom commented on #669
Quick re-ping to people on here about this.  Someone asked about doing MCMC timing fits on FB and I pointed them to PINT.  @tcromartie and I still haven't pushed up some other fixes, but I did just push up the removal of the phase fitting.  We should definitely try and improve this code soonish....

[2020-08-07 17:23] paulray commented on #654
@champagne-cmd could you take a look at this one?

[2020-08-07 17:24] paulray commented on #591
@luojing1211 should we fix this or close it?

[2020-08-07 17:27] paulray commented on #581
@luojing1211 now that you've done the wideband TOA stuff, any thoughts on this? Should we close it, or would it be good to add a method that returns flag values as an array?

[2020-08-07 17:34] paulray commented on #458
This is solved using `model.jump_flags_to_params(toas)`. This method is called by `pintempo` and `pintk` and this could also be incorporated into a solution for #748.

Closing.

[2020-08-07 17:34] #458 closed

[2020-08-07 17:36] #579 closed

[2020-08-11 15:02] champagne-cmd commented on #654
@paulray could you send me the par files you used?

[2020-08-11 16:06] luojing1211 commented on #591
Let us change to TimingModel.

[2020-08-11 16:15] luojing1211 commented on #581
Right now get_flag_values() returns a list of all the value and a list of valid value indices. Add a get_flag_value_as_array() is not a bad idea. I think Anne's idea is also interesting. I would rather to have a PR to address this issue an then close this one.

[2020-08-12 14:53] #627 closed

[2020-08-12 15:13] #736 closed

[2020-08-13 14:46] pennucci opened #768 "No access to noise_resids via fitter.resids.residual_objs[0].noise_resids in WidebandTOAFitter"
@luojing1211:
noise_resids via fitter.resids.residual_objs[0].noise_resids
and
noise_resids via fitter.resids.residual_objs[1].noise_resids
are empty dictionaries (at least for WidebandTOAFitter), even though fitter.resids.noise_resids['pl_red_noise'].value returns a 2*ntoa-length array, the first half of which appears to be the red noise realization in the TOAs.

[2020-08-13 14:48] pennucci opened #769 "No access to noise_resids before fit ("prefit" noise resids)"
@luojing1211:
I think noise_resids only exist after a call to fit_toas().  However, there should be a "prefit" noise realization, right?  This will be useful to have.

[2020-08-13 16:58] swiggumj opened #770 "POSEPOCH UNSET?"
For some reason, when I load the following par file, POSEPOCH is reported as being UNSET. I would have thought the normal behavior would be to default to PEPOCH (and in fact this is what happens for another pulsar -- can post that par file too if useful).

[code]

[2020-08-13 16:59] swiggumj commented on #770
E.g.

[code]

[2020-08-13 17:33] swiggumj commented on #770
I think I see the issue here. POSEPOCH = PEPOCH doesn't happen unless one/both of the PM parameters are non-zero (see below). If we agree this is not the intended behavior, I will open a PR. Proposed fix would be to remove the conditional based on PM params being non-zero.

[code]

[2020-08-13 17:34] swiggumj commented on #770
Code block above is found in https://github.com/nanograv/PINT/blob/master/src/pint/models/astrometry.py.

[2020-08-13 17:43] paulray commented on #770
That sounds good to me. If POSEPOCH is None and PEPOCH is not, then set POSEPOCH to PEPOCH.

Just a tip, too. In GitHub you can select a range of line numbers in the code then click the little "..." button and select "Copy Permalink" to be able to reference code in a comment, like this:
https://github.com/nanograv/PINT/blob/eb9426591604ad24c06ff71bdd38175c1f8530b2/src/pint/models/astrometry.py#L22

[2020-08-13 17:44] paulray commented on #769
Probably @demorest should look at this...

[2020-08-13 17:51] swiggumj commented on #770
Oh nice! I'll try to remember that...

Ok, I'll get going on a PR.

[2020-08-13 17:51] demorest commented on #769
Yeah the way the algorithm is structured you can't really get the noise resids without running a fit.  If you want "prefit" noise realizations you can run fit_toas() with all fit params disabled.

[2020-08-13 17:54] paulray commented on #770
As a further comment, I think this should raise a warning when it happens. People should be encouraged to set POSEPOCH to what they want explicitly in their par file and not just rely on it defaulting to PEPOCH. But, I agree it is useful to have it not fail.

[2020-08-13 18:09] swiggumj commented on #770
@paulray can you point me to where other warnings like this have been implemented? Logging isn't already implemented in astrometry.py.

[2020-08-13 18:12] paulray commented on #770
[code]

[2020-08-13 18:15] swiggumj commented on #770
Awesome thanks. I just found similar examples in toa.py, but now realize I used `import logging` in modelutils.py. Probably should fix this at some point too to be consistent.

[2020-08-13 18:26] swiggumj commented on #770
I did run some tests to make sure it's working as expected: https://github.com/nanograv/PINT/pull/771

Bracing myself for "make unit tests!"

[2020-08-15 13:53] paulray commented on #635
Fixed by #772

[2020-08-15 13:53] #635 closed

[2020-08-17 17:43] #770 closed

[2020-08-21 14:06] abhisrkckl opened #773 "Error in pintk while plotting orbital phase"
Hello,

When I use orbital phase as the X axis for the plot in pintk, I get the following exception:

Exception in Tkinter callback
Traceback (most recent call last):
  File "/usr/lib/python3.6/tkinter/__init__.py", line 1705, in __call__
    return self.func(*args)
  File "/home/abhimanyu/.local/lib/python3.6/site-packages/pint/pintk/plk.py", line 376, in updateChoice
    self.updatePlot()
  File

[2020-08-21 14:36] abhisrkckl opened #774 "Error while running fit_NGC6440E_MCMC.py"
I am getting an exception when I try to run fit_NGC6440E_MCMC.py
(Please see attachment.
[fit_NGC6440E_MCMC.py.txt](https://github.com/nanograv/PINT/files/5109368/fit_NGC6440E_MCMC.py.txt)

This problem was not there last week when I tried it.

It seems to go away when I do the following change in mcmc_fitter.py:
[code]

[2020-08-21 19:29] #774 closed, assigned to nobody

[2020-08-27 12:25] matteobachetti commented on #231
Hi @paulray: I implemented a better version of fftfit, going back to the original paper and borrowing a few tricks from PRESTO (an endless source of awesomeness @scottransom ). You can find here: https://github.com/NuSTAR/nustar-clock-utils/blob/master/nuclockutils/diagnostics/fftfit.py
I will soon also implement it in Stingray.

[2020-08-27 14:17] paulray commented on #231
Great! Since @scottransom and Thankful are working on event_optimize, maybe they can incorporate this into PINT so we can remove that dependency!

[2020-08-27 14:23] aarchiba commented on #231
I have Opinions on the right way to do this, but more usefully I have a test suite that evaluates how well my own fftfit-like implementation works. I'll try incorporating some of this code into PINT, ideally with several implementations we can compare.

[2020-08-27 14:25] paulray commented on #231
Wonderful, Anne!  That would be great!

[2020-08-27 14:27] scottransom commented on #231
I agree! I definitely trust your Opionions, @aarchiba!  Thanks!

[2020-08-27 14:35] aarchiba commented on #231
I have a version that I set up to try to construct RXTE TOAs for Kes 75 (don't ask). It's pretty minimal in terms of functionality but I made the mistake of trying to use hypothesis to test it and *goodness* is it hard to make a really bulletproof version that guarantees a reasonable precision. So now I want to try my test suite on other `fftfit` implementations.

But one Opinion in particular is

[2020-08-27 14:49] matteobachetti commented on #231
@aarchiba that would be great! I'd be super happy to see the actual performance against other implementations (and scrap it and use other implementations if they work better and their license allows it ;) ).

[2020-08-27 21:51] paulray commented on #537
I just ran into this again. "BINARY BTX" is not recognized by PINT, although it seems that the FBx parameters do work with the BT model.

[2020-08-28 11:48] aarchiba commented on #693
So the code is pulled from the triple system work (which is also on github so it won't be lost). The plan was to implement a timing model that went through 3D positions: full keplerian orbital elements produce 3d positions of pulsar and companion, Shapiro and Einstein delays calculated, root-finding to get pulsar time - the approach implemented in the triple system code but with Keplerian motion i

[2020-08-28 11:52] aarchiba commented on #598
The code `kepler.py`, currently unused (#693) is capable of doing a number of conversions between anomalies.

[2020-08-28 11:56] aarchiba commented on #654
Can I suggest these par files go into the test suite, one way or another?

[2020-08-28 11:59] aarchiba commented on #565
Modern versions of `emcee` now support long doubles correctly. We should detect when a bogus version is being used and complain.

[2020-08-28 12:01] aarchiba commented on #589
Seems to me the tempo2 numbering is making the wrong choice. But is all that is needed subtracting a large constant?

[2020-08-28 12:03] aarchiba commented on #512
See also #589

[2020-08-28 12:26] aarchiba commented on #592
Are you running into #512 too?

[2020-08-28 13:03] paulray commented on #592
I haven't tried that use case, sorry

[2020-08-28 16:29] aarchiba opened #778 "Black 20.8 reformats docstrings"
The new version of `black` pulled in by `pip install` reformats docstrings and a few other things (that were badly formatted to start off), so `master` no longer passes the blackening test.

[2020-08-28 16:41] scottransom commented on #778
Ugh.  This sucks.  I have to admit that I don't like having Travis fail for completely legit and even PEP8-compliant code.  I'm all for having blacken'd code, but requiring it via failures doesn't seem like the right thing to me.

[2020-08-28 17:10] paulray commented on #778
Yeah, I thought the benefit of black was that it didn't change

[2020-08-28 17:42] paulray commented on #565
At what version of emcee did this support appear?

[2020-08-29 12:00] aarchiba commented on #565
Er. When I put it in last fall? Not sure exactly which version. But `emcee` does support python 2 so I think it's probably fine to just require a recent enough version.

[2020-08-29 14:00] aarchiba commented on #565
Version 3.0.1 supports long doubles.

[2020-08-31 17:43] paulray commented on #537
This just came up yet again. @juliadeneva tried to use PINT for a par file with BTX.  We really need to get "BTX" recognized by the PINT model builder, or at an *absolute minimum* it should give a useful error that while BTX is not supported (e.g. the multiple companions part), BT does handle FB parameters in PINT.

[2020-09-02 13:23] aarchiba commented on #659
This is in principle pretty powerful but in practice we know that PINT (and also TEMPO and TEMPO2) have such terrible reliability that practically any unexpected data will produce problems. Most often those problems are silently wrong output rather than crashes or exceptions.

The Hypothesis vs. TEMPO vs. TEMPO2 shootout would indeed be interesting, though it would require careful and clear specif

[2020-09-02 13:40] aarchiba commented on #682
Some of these may have been marked xfail because of Astropy bugs which are now fixed.

[2020-09-02 13:56] aarchiba opened #782 "Example notebooks break CI"
Someone needs to take a look at the example notebooks and see what is going wrong; they seem to be breaking our CI builds.

[2020-09-02 13:57] aarchiba commented on #782
For example https://travis-ci.org/github/nanograv/PINT/jobs/723437499

[2020-09-10 18:51] #778 closed

[2020-09-16 14:32] paulray commented on #782
This is fixed in master. Let me know if you still see problems after merging/rebasing on master.

[2020-10-01 04:37] luojing1211 opened #784 "Can not read INPOP ephemeris"
PINT currently can not read the ephemeris other than the JPL DExxx format. Our load kernel code assumes the file name would end with ".bsp", which is not true for French INPOP ephemeris. This should be a small fix, but needs more careful design.

[2020-10-07 14:51] #565 closed

[2020-10-07 14:55] dlakaplan opened #787 "Fallback to astropy observatory if PINT doesn't know about it"
Astropy site list: https://github.com/astropy/astropy-data/blob/gh-pages/coordinates/sites.json
PINTsite list: https://github.com/nanograv/PINT/blob/master/src/pint/observatory/observatories.py

The astropy list is a lot longer, although less precise.  There are situations where it would be helpful to default to the astropy list if PINT is not aware.

[2020-10-07 19:31] dlakaplan commented on #787
I think this is largely implemented (https://github.com/dlakaplan/PINT/tree/observatory_fallback). I'm waiting on the full test suite (seems very slow) but it works and I wrote a test routine.

A few issues:
* Some of the astropy observatory functionality is broken in the current release (4.0.1: see https://github.com/astropy/astropy/pull/10592).  It has been fixed in development versions.  So I h

[2020-10-08 15:06] kerrm opened #789 ""zero phase" instantiation in glitch model is nonstandard/slow"
glitch_phase begins the phase calculation by instantiation a "zero" vector as follows:

174         tbl = toas.table
175         phs = u.Quantity(np.zeros_like(tbl, dtype=np.longdouble))

This idiom doesn't make sense to me.  What does it mean to make zeros "like" a table?  Naively I'd expect to get an array with nrows x ncolumns.  But it does actually return the desired thing, an array with shape

[2020-10-08 18:05] dlakaplan opened #790 "Add observatory metadata"
Add info for observatory entries to document where/when the coordinates were updated.

[2020-10-08 18:47] paulray commented on #789
This seems like a no-brainer.

[2020-10-08 18:53] scottransom commented on #789
Yup.  Should just merge that.

[2020-10-08 20:17] #789 closed

[2020-10-08 20:18] paulray commented on #782
I think this can be closed, right?

[2020-10-14 14:39] #475 closed

[2020-10-14 14:41] #598 closed

[2020-10-14 14:41] #686 closed

[2020-10-14 14:44] #773 closed

[2020-10-14 14:59] #782 closed

[2020-10-14 15:29] dlakaplan opened #792 "Check for observatory name conflicts"
When instantiating a new observatory, check for existing observatories with the same name.  Either give a warning or error if a conflict exists.

[2020-10-14 15:33] dlakaplan opened #793 "Move observatory definitions to a data file"
Currently PINT observatories are defined within the source code:
https://github.com/nanograv/PINT/blob/master/src/pint/observatory/observatories.py

This is unlike `astropy`, which has them as JSON:
https://github.com/astropy/astropy-data/blob/gh-pages/coordinates/sites.json

There isn't a huge difference between them, except that aesthetically it's a little more pleasing to put all of the data de

[2020-10-15 19:25] #787 closed

[2020-10-15 21:44] dlakaplan commented on #790
I think this is solved in:
https://github.com/dlakaplan/PINT/tree/observatory_metadata

[code]
returns:
[code]

[2020-10-15 21:47] dlakaplan commented on #792
I thought I knew how to do this.   I put some checks in `observatory/__init__.py` in the `__new__` function:
[code]
but I found when testing it that when I dropped in a new observatory it was triggering the warning but didn't get registered.  I think it's because I was defining in the wrong place (just in standalone code).  What would be a use-case to define an observatory outside of the `topo_obs

[2020-10-19 22:18] paulray commented on #374
Now that Scott merged model.orbital_phase() with all the anomalies it should be easy to add a couple utilities to compute line of sight velocity and acceleration, along the lines of `los_velocity()` and `los_acceleration()` here:
https://github.com/ewanbarr/pyorbit/blob/master/pyorbit/utils.py

Great little project for a student...

[2020-10-20 16:27] paulray opened #794 "Incorrect calculation of RMS residuals in pintk"
https://github.com/nanograv/PINT/blob/47f6fbe080995e9e9fa632eb5488a4e7c63d90c7/src/pint/pintk/pulsar.py#L186-L189

This code in pintk is wrong. It is reporting chi2/ntoas as the weighted RMS.  This happens for the pre-fit residuals as well.
It should use `resids.rms_weighted()` instead.  Similarly for when it prints out the residuals after reading in the toas initially.

[2020-10-20 16:27] paulray commented on #794
Thanks to @juliadeneva for reporting this!

[2020-10-20 16:33] juliadeneva commented on #794
`            "RMS PINT residuals are %.3f us\n"
            % self.prefit_resids.time_resids.std().to(u.us).value`

This line should also be changed to use `rms_weighted()`

[2020-10-20 16:43] scottransom commented on #794
good catch!

[2020-10-20 16:52] paulray opened #795 "Orbital phase calc fails for ELL1 models"
[code]

Looks like ELL1 models don't have the `tt0` attribute that this is trying to use.

[2020-10-21 15:16] dlakaplan opened #797 "Warning methods"
It seems that PINT uses:
`log.warning()` for warnings, but this doesn't raise any sort of exception and is therefore hard to examine from any but a user-output perspective (i.e., complicated for test routines).  Instead we could use `warnings.warn()` which is a subclass of `Exception` that doesn't stop the program.

If we could swap the standard, then the `warnings.warn()` could handle the output

[2020-10-21 15:16] dlakaplan commented on #797
@scottransom @luojing1211 @paulray What are your thoughts?

[2020-10-21 15:22] aarchiba opened #798 "Want round-trip tests for .tim file writing"
To check that we can write .tim files reliably we should be able to create a family of tests that load a .tim file (from a string in the test module is probably easiest) into a TOAs object t1, write that out to a temporary file (string if possible), read that back in to a new TOAs object t2, and compares t1 to t2. Cases worth considering:

- EFAC/EQUAD in the .tim file
- long double precision in t

[2020-10-21 15:25] aarchiba commented on #798
Currently it looks like PINT never writes any commands to the output file; every line is either an initial FORMAT 1 or a TOA line. It un-applies clock corrections if they have been applied. It also does some weird jiggery-pokery with the pulse numbers that will leave you with a -pn flag and a pulse number column both if an exception occurs while writing a file.

[2020-10-21 15:27] aarchiba commented on #798
The documentation for `format_toa_line` is confusing and misleading - it does not and should not undo things like TIME. What is done with `clkcorr` should be checked, though.

[2020-10-21 15:49] scottransom commented on #798
I think that it is basically impossible to make this work for all .tim files given the nature of old-school TOA-file commands, which we basically need to handle at some level.  That's because things like SKIP and END (and even EMAX and EMIN) actually change the way the file is *read*.  So the internal TOAs can't ever replicate what was in the file.

As long as we are fine with making sure that we

[2020-10-23 15:48] aarchiba commented on #798
Indeed this test is separate from whether we read ancient `.tim` files correctly - it starts from a loaded TOAs object, writes it out, and reads it back in. So it's testing the writing code and the reading code are compatible. There are lots of places this might not work - for example TOAs objects have a list `toa.commands` which presumably records the commands, in some format or other, observed i

[2020-11-02 16:21] demorest opened #799 "Release a new version"
It's been about 6 months since 0.7; can we get a new version tagged and released?  I don't have a strong opinion on what the number should be, in a separate discussion @luojing1211 suggested not going to 0.8 yet so maybe 0.7.1?

[2020-11-02 17:20] paulray commented on #799
Sure, I was kind of waiting for wideband support to be fully implemented to tag a new version, but I can tag one now if that is preferred.

[2020-11-02 17:26] demorest commented on #799
Yes it would be helpful for the nanograv 15-year work to have a new version available now.  And just bump the version number as needed when new features are available.  Thanks!

[2020-11-02 17:31] scottransom commented on #799
@demorest  Why is a Tag required for the 15-yr work (as opposed to, say, a git hash or range of hashes)?  Are we keying on major version numbers or something like that?  Just curious, not complaining.

[2020-11-02 17:48] demorest commented on #799
I am working on setting up a standardized conda environment for use in the timing analysis.  I think it's cleanest to use the actual PINT conda package for this ("pint-pulsar=0.7.1" or similar).   I wouldn't say it's required to do it this way, there are other options such as pip install from a specific git hash.  But if that is what we are recommending then why bother having released "versions" a

[2020-11-02 18:13] paulray commented on #799
I agree, that makes sense

[2020-11-02 18:15] paulray commented on #799
However, since this tag will have the MAJOR change of removing Python 2.7 support, I think it should bump to 0.8.0

[2020-11-02 18:32] luojing1211 commented on #799
I was planning to have 0.8.0 includes the Wideband TOAs. But think about
python 2.7, we should use 0.8.0 for this one.
-Jing

On Mon, Nov 2, 2020 at 1:15 PM Paul Ray <notifications@github.com> wrote:

[2020-11-02 18:34] paulray commented on #799
Yeah, that is exactly what I was holding out for. How close is wideband support? Much is already in there, right?  Maybe it is fine to tag 0.8.0 now and of course you can continue working on the wideband support with 0.8.1, etc...

[2020-11-02 18:36] luojing1211 commented on #799
Most fixing and development is done, I am writing tests with Tim now.

[2020-11-02 18:59] demorest commented on #799
That is a very good point about python 2 support, that deserves a more serious version number change.  Were we waiting on some specific milestone before declaring version 1.0?

[2020-11-02 19:14] paulray commented on #799
I don't think a very specific milestone has been defined (hmm, maybe we need to write out a clearer development roadmap somewhere...). The main idea is that while we are at 0.x we aren't hesitating to make significant API changes. I think the idea is we declare 1.0 when we think the API is pretty solid?

[2020-11-04 16:20] swiggumj opened #801 "Parameters included in set_fitparams not added to the model should trigger a warning"
Currently, if parameters are listed in `fitter.set_fitparams(...)` but not explicitly added to the timing model ahead of time, those params are not included in the fit. This should warn the user and suggest a fix if fits for added parameters are indeed intended.

[2020-11-06 19:10] theXYZT opened #802 "Allow usage on Windows"
There are currently only Linux and OSX builds provided on the conda-forge channel. It would be nice to have a Windows build for those using a Windows system. If possible, a cross-platform "noarch" build would suffice, I think.

I understand that an overwhelming majority of academics use Linux and OSX and Windows support is almost never a priority. However, it would be nice to have for those few of

[2020-11-06 19:13] theXYZT commented on #802
However, given #522 and #526, I am assuming the answer here is a hard: No.

[2020-11-06 19:34] paulray commented on #802
I have no problem with having a conda build of PINT that works on Windows, but I don't have or use Windows, so it would require someone else to figure out how to do it and make a pull request.

[2020-11-06 19:51] theXYZT commented on #802
For now, this could start with reverting #526, which at least allows the user to use `pint-pulsar` on Windows at their own risk. I would be happy to submit a pull request for this.

[2020-11-06 20:23] paulray commented on #802
OK, maybe change the exception to a `log.error()` statement. Or maybe make it raise an exception on all platforms, except Windows where it gives a `log.warning()` explaining that it is running at reduced precision.

[2020-11-09 14:18] paulray opened #804 "Poor documentation"
The docstring in the Solar Wind model is bad. It does not define what the "SWM" parameter is, or what values it can take. These docs need serious fleshing out.

https://github.com/nanograv/PINT/blob/cf70c57efeb7e74f958e442f501f626314d01bfa/src/pint/models/solar_wind_dispersion.py#L19-L20

I noted this due to a question from @hwahl16

[2020-11-09 18:59] paulray opened #805 "Bad code in format_toa_line"
As noted in a code comment:

https://github.com/nanograv/PINT/blob/cf70c57efeb7e74f958e442f501f626314d01bfa/src/pint/toa.py#L357-L361

this code is bad. It assumes that all observatories use the UTC timescale except for the barycenter.  This decision should be made by the Observatory object, which already has a `obs.timescale` parameter. So this should use it, rather than having this observatory-d

[2020-11-09 19:23] luojing1211 commented on #805
That makes sense. It seems an easy fix. What do you think @scottransom ?

[2020-11-09 20:27] scottransom commented on #805
I think that is fine...  Although I'm not sure it makes any difference at all in practice as obs.timescale is defined to be "utc" for all of our observatories, I think!

[2020-11-09 20:29] paulray commented on #805
True it won't change anything immediately, but Matthew and I were talking about adding an observatory at the geocenter with a timescale of TT for spacecraft data and that is how we found that you'd have to change both the observatory class and this special casing in toa.py, which is bad form.

[2020-11-09 20:35] scottransom commented on #805
Fair enough!  I'm certainly not opposed to changing it....

[2020-11-10 11:37] #802 closed

[2020-11-10 11:38] paulray commented on #799
So, @luojing1211 merged his WB TOA pull request. Shall I tag and release 0.8 now?

[2020-11-10 13:29] luojing1211 commented on #799
I think it is good to go.

On Tue, Nov 10, 2020 at 6:38 AM Paul Ray <notifications@github.com> wrote:

--
-Jing

[2020-11-11 15:21] dlakaplan commented on #792
Closed by https://github.com/nanograv/PINT/pull/796

[2020-11-11 15:21] #792 closed

[2020-11-11 15:22] dlakaplan commented on #790
Closed by https://github.com/nanograv/PINT/pull/796

[2020-11-11 15:22] #790 closed

[2020-11-11 15:27] dlakaplan commented on #801
@swiggumj : I'll work on this.  Can you post some examples of how you've been encountering this?

[2020-11-13 12:26] pennucci opened #810 "Weighted mean of post-fit residuals is not using scaled uncertainties; affecting chi2 calculation."
When I calculated the weighted mean of post-fit residuals it is ~identically zero when **not** applying EFAC/EQUADs, but presumably these factors should be used when fitting the mean phase, and thus the weighted mean should be zero when using the scaled TOA uncertainties as weights.  I found this using WidebandTOAFitter, but I tried with GLSFitter and it's the same, so I think it's a general issue

[2020-11-13 16:32] demorest commented on #810
For GLS fits it's slightly more complicated.  chi2 requires the full noise model not just residuals and uncertainties (either scaled or not).  This is returned by the fitter, and I think it's best to use that value rather than duplicating the calculation elsewhere.  This means at least for chi2 purposes it doesn't matter where the zero-point of the residuals is.

[2020-11-13 19:18] JPGlaser opened #811 "Request for DEV Version of PINT on PyPI for Dependency Checks"
Hey All,

Just putting this here on behalf of the Timing Analysis dev team. In order to correctly get our dependencies set up, we need to have an official `dev` branch set-up on PyPI for `PINT`. This is because using git repos for dependencies got depreciated in `pip v19` with no alternative put in its place (see: https://github.com/pypa/pip/issues/5898). Since both `PINT` and `timing_analysis` ar

[2020-11-13 19:29] paulray commented on #811
Seems like a good idea.  When I tag 0.8.0 I'll try to set that up as well. I didn't quite follow that blog post, but I can play around with it.

[2020-11-13 19:32] paulray commented on #811
Joe, if you have a PyPI username, I'm happy to add you as a maintainer of the PINT project, especially if you want to figure out how to make this work!

[2020-11-16 18:17] aarchiba opened #812 "Fitters do not respect pulse numbers"
While TOAs objects can keep track of pulse numbers, and Resduals objects can be set up to respect these with `track="use_pulse_numbers"`, there does not appear to be any way to get a Fitter to respect the pulse numbers on input TOAs. This makes it impossible to take advantage of an approximate initial timing solution to lock in pulse numbers and remove nasty discontinuities from the fitting proces

[2020-11-16 18:26] scottransom commented on #812
I'm slightly confused.  So the issue is with TOAs that have pulse numbers specified on input only?

[2020-11-16 18:29] aarchiba commented on #812
You can plot residuals in a way that respects pulse numbers. But you can't *fit* them in a way that respects pulse numbers - the fitter should recover the original `F0` but the phase wrap makes it fail to do so.

[2020-11-16 18:31] aarchiba commented on #812
Green dots show the residuals with pulse numbers locked in; if the Fitter used those residuals it would work fine. But Fitters make their own Residuals objects without respecting any `track=` setting (or defaulting to `use_pulse_numbers` if available) so the Fitter works with, effectively, the orange residuals, and can therefore do no better than the red  post-fit residuals.

[2020-11-16 18:34] scottransom commented on #812
Ah, now I understand (I think).  That seems like it should be an easy fix by simply passing track= as a keyword param to the fitter, right?  (and then using that when the fitters create the residuals object).   By far the trickiest bit in all of this is getting the residuals objects to behave correctly and I *think* that happens.

[2020-11-16 18:36] scottransom commented on #812
Note that you can pass a residuals instance to the Fitter().  If you create the residuals object with track=, does the fit then work?  I'm curious....

[2020-11-16 18:49] scottransom commented on #812
Nevermind...  WLSFitter() incorrectly overwrites Fitter()'s __init__().  Anyway, I think this can be fairly easily fixed and we'll try to get to it soon.

[2020-11-16 18:50] aarchiba commented on #812
Sadly not. That's just a shortcut for computing statistics on already-existing residuals, doesn't do anything for plain Fitters, and isn't supported by non GLSFitters.

[2020-11-16 18:50] aarchiba commented on #812
PR running test suite now.

[2020-11-16 18:51] tcromartie opened #813 "ELL1H issues: STIGMA crashes & lack of warnings when param is not fit"
This issue came up in the context of NG 15yr notebooks. If 'STIG' is included in the parfile, STIGMA isn't fit, but no warning is given, either (the same might be true for 'VARSIGMA'). If 'STIGMA' is included in the parfile (in this case, for J1802-2124), the parfile is read, but the prefit residual plot is blank. Then, when the fit occurs, it crashes with the error "array must not contain infs or

[2020-11-16 18:51] aarchiba commented on #812
Also WLSFitter correctly uses super(); WidebandFitter does not, and I can't tell whether that is intentional or not.

[2020-11-16 18:58] luojing1211 commented on #812
@aarchiba That is a good catch. I believe there are a lot of divergences from the fitter base, the test did not fail. I will fix it.

[2020-11-16 19:05] swiggumj commented on #813
@tcromartie I think this may be related to a previous issue (https://github.com/nanograv/PINT/issues/801). This is partially on the PINT end (e.g. warnings), and partially on the timing_analysis end (automating the process of adding parameters when they're in the list of `fit-params`). I'll start looking into the second of those soon. If you can add any details to the issue linked above, that woul

[2020-11-16 19:08] tcromartie commented on #813
I've been careful about adding the params to both the parfile and the yaml, so I don't think that's the issue. I've run into the STIGMA problem in separate contexts, too. I'll add a comment to #801.

[2020-11-16 19:12] tcromartie commented on #801
As requested in #813, I'm adding that this came up in reading 'STIG' (which should be 'STIGMA') from a parfile. No warnings are given, the parameter seems to just be ignored. It might be helpful to give a warning and advise that 'STIGMA' should be used, or to just interpret it automatically.

[2020-11-16 19:25] aarchiba commented on #812
The PR will appear once it passes the test suite on my machine. I've tidied the things I needed to to make that work.

[2020-11-16 19:26] swiggumj commented on #813
Ah I see -- didn't realize you were also making the change in the par file. I agree that shouldn't be the issue then.

[2020-11-18 15:17] pennucci opened #816 "fitter.set_fitparams() cannot take the output of fitter.get_fitparams()"
The output of get_fitparams is an Odict of key,val pairs, but set_fitparams appears to work only on a list/tuple of param names.  Passing the output of get_fitparams to set_params raises no warning, and fixes/freezes all parameters.  There's even a comment in set_fitparams: "# TODO, maybe reconsider for the input?"

This issue can easily raise problems for users that are making reasonable assumpti

[2020-11-18 15:27] swiggumj commented on #801
Here's a quick example:
[code]
I've made a fitter object, run `set_fitparams` to determine parameters that are unfrozen, then I run the fit. Any parameters not included here, are frozen, however, if unknown parameters (including actual parameter names outside of existing model components) are added, they are simply ignored. For example, if I replaced the line above with:
[code]
The exact same thin

[2020-11-18 15:57] scottransom opened #817 "Free Travis CI is going away"
There is a nice discussion of this on the astropy-dev list:  https://groups.google.com/g/astropy-dev/c/45frnTEAX-U

Astropy switched from Travis CI to github's "Actions" for CI.

https://blog.travis-ci.com/2020-11-02-travis-ci-new-billing

[2020-11-18 16:18] JPGlaser commented on #811
@paulray , I should be able to get it figured out. My PyPI account is under AstroGlaser.

~ Joe

[2020-11-18 16:21] dlakaplan commented on #801
Thanks, Joe.

Could you provide a complete example (how you generate your f0355 and m0355 objects) along with the relevant files?   If the files are too ugly to attach here, just send to me.

Also, just for completeness could you list the right way to do this?

[2020-11-18 16:32] paulray opened #818 "Implement DRACULA using PINT"
A great student project would be to implement Paulo Freire's DRACULA code using PINT <https://github.com/pfreire163/Dracula>

PINT can read in the TOAs one time and compute all the TDB values and solar system quantities once.  Then, it can do the adding and subtracting phase wraps and re-fitting quickly, I hope.

[2020-11-18 16:43] JPGlaser commented on #817
So we have a few options. We could use GitHub's Status API to do CI on our own hardware (depending on the strain/frequency of CI requests across nanograv's projects).
https://docs.github.com/en/free-pro-team@latest/rest/guides/building-a-ci-server

Short-term there is a possible solution to **local** runs of Travis via docker images:
https://stackoverflow.com/questions/21053657/how-to-run-travis-c

[2020-11-18 16:53] swiggumj commented on #801
Answered some of this offline, but for posterity...
[code]
and the par file looks like this:
[code]
I can make TOAs available upon request. As far as checking/adding parameters, I'm still trying to figure out the best way to do this, but @bshapiroalbert pointed me at https://github.com/nanograv/PINT/blob/master/src/pint/fitter.py: ftest function starts on line 536; relevant parameter adding starts

[2020-11-18 20:19] dlakaplan commented on #801
OK, I have a fix at:
https://github.com/dlakaplan/PINT/tree/set_fitparams
that solves this, I think.   e.g.,
[code]
fails:
[code]
I think raising an error is appropriate here, rather than just a warning (to be ignored). Do others agree?

[2020-11-18 21:09] swiggumj commented on #801
Yeah, I think that makes sense too. Looks good to me! Though I haven't actually checked it out and tried it, but I can do that shortly.

[2020-11-19 13:39] paulray commented on #811
I invited you to be a maintainer on pint-pulsar.  Did you get the invite?

[2020-11-19 15:19] Midooka opened #819 "Downloading .par files"
Just after installing PINT, I'm trying to run "photonphase" using FITS file obtained with RXTE (OBS ID 60081; Good Xenon mode).
Question: Where can I download the appropriate .par file?
Although I used the /PINT/tests/datafiles/PSR_J0218+4232.par, I failed to reproduce coherent pulses.
Even if I also used the ATNF ephemeris, which UNIT was converted from TCB to TDB, pulses were not seen.
https://w

[2020-11-19 16:07] paulray commented on #819
I would not use the test files in PINT for science.  You can find several per files for J0218 here:
https://fermi.gsfc.nasa.gov/ssc/data/access/lat/ephems/

Are you barycentering the RXTE data first?  photonphase should actually work either way, as long as you provide the FPorbit file.

[2020-11-19 16:08] paulray commented on #819
The Fermi second pulsar catalog par file is also available here: https://fermi.gsfc.nasa.gov/ssc/data/access/lat/2nd_PSR_catalog/

[2020-11-19 16:11] paulray commented on #819
This paper talks about the RXTE analysis: https://ui.adsabs.harvard.edu/abs/2004AdSpR..33..507K/abstract

[2020-11-19 16:27] Midooka commented on #819
I appreciate your quick response!
I've read the paper, thank you for your kindness.

I have three types of light curve files; with/without barycentering and with barycentering&binary correction with my python script.
One of reasons to use PINT is to verify the validity of the script by an independent method.
In this purpose, is the better approach to use RXTE data before barycentric correction wit

[2020-11-19 16:29] Midooka commented on #819
How should I determine the best par file?

[2020-11-19 17:32] paulray commented on #819
Look at START and FINISH in the par file. If your data are within that range, you are certainly fine. If not, it depends on how well the ephemeris extrapolates. For MSPs you can often extrapolate quite a way.

[2020-11-19 21:09] kerrm opened #820 "Proper motion evaluation changes epoch time frame"
I recently noticed models with a proper motion were taking much longer to evaluate phase.  Profiling reveals the slowdown is in delay calculations like the solar system geometry delay and solar system Shapiro delay, which (in my timing model), invoke AstrometryEquatorial.ssb_to_psb_xyz_ICRS.  That in turn ultimately calls AstrometryEquatorial.get_psr_coords, which uses astropy and the apply_space_

[2020-11-19 22:33] aarchiba opened #821 "make_fake_toas does not attempt to produce zero residuals"
The function make_fake_toas claims to produce TOAs with zero residuals relative to a model; it makes no attempt to do this. The model is not used in any way.

[2020-11-19 22:35] aarchiba commented on #812
I'm trying to speed this up but ran into bug #821 .

[2020-11-19 22:38] aarchiba commented on #812
Also there is some confusion - `.par` files can contain `TRACK -2` or `TRACK 0` (other options not supported) and previously this overrode values explicitly passed to the `Residuals` constructor. This seems wrong so I made explicit values override `.par` file values. If the `.par` file does not contain a `TRACK` statement I'd prefer to default to using pulse numbers if present and not if missing,

[2020-11-19 23:32] Midooka commented on #819
I understand now, I appreciate your support a lot!

[2020-11-19 23:52] aarchiba commented on #816
wait why does a fitter let you change the parameters that are fit? Shouldn't this be a method on the models?

[2020-11-19 23:55] aarchiba commented on #816
Is there a method that lets you set which parameters are free on a model, the way this does on a fitter?

[2020-11-20 01:05] aarchiba commented on #820
That looks like an Astropy bug, and maybe one indicative of a subtle coordinate conversion. It seems worth filing. If there's some numerical precision issue there I assume they'll explain. I would suggest adding something to the PINT test suite to check the bug behaviour, but setting the numerical tolerance to 1e-3 uas (or something) - we are not actually troubled by this much discrepancy and we c

[2020-11-20 01:08] aarchiba commented on #801
Fixed in #822 , more or less, in the sense that it tells people not to use `set_fitparams` and provides a less preposterous mechanism to do the same thing.

[2020-11-20 14:20] paulray commented on #821
Hmm, I had never heard of that function. We have a script `zima.py` that makes fake TOAs, but that does not use this function. This looks like something that @clp3ef probably added as part of her random models work.  If this function does become a good way to make TOAs with zero residual, then zima should be made to use it.

[2020-11-20 16:12] clp3ef commented on #821
Hi Paul,

I did add that as part of the random models. Scott and I copied part of the
zima code over and modified it so it would produce evenly spaced TOAs with
zero residuals and no errors for the random model lines to be plotted with.
If making TOAs with zero residuals and zero errors is widely useful, our
modifications could probably be re-integrated into zima's code, but I don't
think zima sho

[2020-11-20 17:01] #819 closed

[2020-11-20 17:11] scottransom commented on #821
Yeah, Camryn needed this for her stuff.  And the goal (from me) was to pull this big out of zima and into a function that other code could use programmatically.  And zima could use it as well -- but we didn't get to that (yet?).

[2020-11-20 17:13] paulray commented on #821
I see.  We should definitely try to work things out to avoid code duplication.

But Anne says make_fake_toas doesn't work?  I haven't looked at it yet.

[2020-11-20 19:48] aarchiba opened #824 ".select() modifies TOAs objects and keeps a stack"
Currently the only way to select a subset of TOAs from a TOAs object - and get a TOAs object as the result - is to modify the TOAs object in place with `.select()`. This keeps a stack of previous states inside the TOAs object. This is a clunky and non-pythonic API. The stack has no place here, and modifying the object in-place is inconvenient, doubly so as TOAs objects do not implement `.copy()`.

[2020-11-20 19:50] aarchiba commented on #821
Fixed in #814

[2020-11-21 15:22] aarchiba commented on #813
Can you supply a `.par`/`.tim` pair that demonstrate the problem? Presumably simplified so as not to include a hunk of the 15-year data set in github... If the problem is with the `.par` file and #814 is merged we can probably use `make_fake_toas` to demonstrate the problem without any real TOAs at all.

[2020-11-21 15:36] kerrm commented on #820
Thanks Anne, I agree with adding a loose-ish test.  I reported the issue on astropy, I don't think they're too impressed with the importance, but that's OK :)

[2020-11-21 16:21] aarchiba commented on #804
This is worth mentioning as a good first issue - if some poor student has had to sit down and figure out what SWM actually is, a PR to add that to the docs should be an easy next step. I try to flesh out the docs on things I've gone in and worked on and understand well enough to explain, but I realize we need some more thorough documentation work - but this kind of bug report is very useful, where

[2020-11-21 16:27] aarchiba commented on #751
I think JAX and autograd use automatic differentiation based on custom data types (numbers with infinitesimal components) while numdifftools does fairly exhaustive finite-difference calculations with step size extrapolation. The interface of numdifftools is quite annoying but it should be a pretty easy drop-in addition. I used it on the triple system model.

[2020-11-21 16:34] aarchiba commented on #711
This is relevant to #812 - so far the "PINT-llike way" is to specify `track_mode=` when making Residuals and Fitter objects. Of course this competes with putting it in the `.par` file.

[2020-11-21 16:39] aarchiba commented on #677
Closed by #726

[2020-11-21 16:40] aarchiba commented on #824
Related to #661

[2020-11-21 16:46] aarchiba commented on #592
This may be resolved in #815 - please check whether the table documentation there clears things up. It also fixes a bug to do with what pulse number columns are called.

[2020-11-21 16:50] aarchiba commented on #588
the method appears to be gone.

[2020-11-21 16:50] #588 closed

[2020-11-21 16:51] aarchiba commented on #571
The method seems to be gone.

[2020-11-21 16:51] #571 closed

[2020-11-21 16:53] #491 closed

[2020-11-21 18:27] aarchiba commented on #818
Can you suggest a few data sets for which phase connection is non-trivial to try it on? Anything public?

[2020-11-21 18:33] aarchiba commented on #817
For local CI, `tox` was intended to be a reasonable option - runs the code with a variety of dependency versions and tests and makes doc builds. It might need a little attention to bring it back to current convenient use.

I have a desktop machine at work I could set to running CI jobs - it's not exactly high-powered but we don't necessarily need much - but I'm not sure the IT folks would be okay

[2020-11-22 23:57] scottransom commented on #818
I have at least one really faint Terzan5 MSP that we have not phase connected yet -- some of the TOAs are likely not real (i.e are noise), which makes it even harder.  I also have one or two that I think Paulo used Dracula to solve.

In general, a good way to test stuff like this is just to remove data -- use every other day of the NGC6440E data in the PINT, for instance.

[2020-11-23 13:10] pennucci commented on #816
I think these are both questions of the code's API philosophy and syntax.  I got so used to the "fit" terminology as a verb meaning "to set this model parameter as a free parameter", that I didn't see it as potentially confusing.  i.e., setting which parameters are "fit for" could be seen as specifying what parameters should be included as part of a model (irrespective of free/frozen/'fit'), which

[2020-11-23 14:04] aarchiba commented on #816
Indeed there is explicit API discussion happening on the PR #822 . As it stands, the free/frozen status of a parameter is recorded as part of the model object, and setting them one by one must be done on the model object. But as it stands now, setting them in bulk requires putting the model into a Fitter, which also requires a collection of TOAs. I could imagine an argument that the free/frozen st

[2020-11-23 14:20] scottransom commented on #816
As mentioned [here](https://github.com/nanograv/PINT/pull/823#discussion_r528434633), you *can* set params in bulk in the model with a one-liner.

Given that a Fitter has an associated model with it, that models can potentially be fit, and that we are stuck (from TEMPO/Tempo2) with having models have fit flags, I don't see why both the fitter and the model classes couldn't have bulk setters and ge

[2020-11-23 14:22] scottransom commented on #816
Heck, while we are at it, we could add helper functions to add/remove individual free/frozen params from the current set of free/frozen params.  Those are each also one-liners and would be really useful (both in the fitter and in the model instances).

[2020-11-23 14:24] pennucci commented on #816
I see no problem with any of that, I agree with it all, actually, at face value.  I would have guessed that one set of methods actually just calls the other's (i.e, the fitter.set_frozen method actually calls the model's) in the first place, to avoid code duplication, since a fitter needs a model.

[2020-11-23 17:01] poneill129 commented on #812
Hi all, this bug was found while creating a tutorial notebook for PINT.  Many thanks to @aarchiba for compiling this bug report.

[2020-11-23 19:25] paulray commented on #795
I  just confirmed that `m.orbital_phase()` works with an ELL1 par file.  Thanks!

[2020-11-23 19:46] aarchiba commented on #816
I think the problem with having the bulk setter/getters on the Fitter objects also is the proliferation of functions in the API, where the "one-liner" involves no actual logic: `f.free_params` versus `f.model.free_params`. By contrast the code required to implement the setter for `free_params` involves a loop, `getattr`, and the use of `match_param_aliases`: https://github.com/nanograv/PINT/pull/8

[2020-11-23 22:16] aarchiba opened #827 "get_model_new should not exist"
The function `get_model_new` should not be part of PINT. It was created to support development of a procedure to read parfiles and make models in a way that was more robust than the original, in terms of `.par` file validation (possibly preventing things like #813 ?) and the ability to (for example) read from `StringIO`. It is also intended to be clearer to read and obey easier to explain `.par` f

[2020-11-23 22:55] scottransom commented on #816
I'm not seeing a problem with that, especially if `f.free_params` calls `f.model.free_params`.  If I was going to modify the fit/free params *the* place I'd look to do that is in the fitter.  However, if you are a "I'd look in the model" person, doing there would work as well.

I don't see that as proliferation at all. It is simply making a useful bit of code available where people are most likely

[2020-11-24 02:45] aarchiba opened #828 "TimingModel objects produce and suppress RecursionError while being copied"
The `__getattribute__` machinery in TimingModel objects interacts with `copy.deepcopy` in such a way that RecursionErrors are generated. This is suppressed by a bare `except` in `TimingModel.__getattr__`. The bare `except` has the side effect of making any exception in a property look like a missing attribute, so this causes other problems, in addition to the wastefulness of running the stack twen

[2020-11-24 14:20] aarchiba commented on #828
This cropped up in #795 making the error hard to understand

[2020-11-24 14:42] luojing1211 commented on #828
I believe this error comes from the way that `__getattr__` works in both `TimingModel` object and `Component` object. To enable the feature that one can access any attribute from both TimingModel level and Component level, `__getattr__` in the timing model searches for the attributes from the components if it is not in the `TimingModel` object. Then the component `__getattr__` will look for it in

[2020-11-24 15:48] aarchiba commented on #828
Just to be clear, as I understand it, there are two reasons one might want __getattr__ on a TimingModel object:

- So that m.F0 works - Parameters are accessible as attributes of the TimingModel.
- So that m.coords_as_GAL() works - methods on Components are accessible as methods on TimingModel.

Does that cover it? Are there any reasons one might want __getattr__ on a Component? Any reason a Compo

[2020-11-24 16:45] luojing1211 commented on #828
Both reasons are valid, and there is a third reason.
* One can access the other component's attributes from one component. For instance, m.component['DDK'].PMRA, where PMRA is in the Astrometry component.

Component is not a inherit from TimingModel. This is to avoid the duplicated attribute names.

[2020-11-24 18:16] aarchiba commented on #828
This last seems like it could be handled just as well by the component accessing the TimingModel, which makes available all the parameters? This would remove the need for __getattr__ on Components and dramatically reduce the problems working with them.

[2020-11-24 18:23] aarchiba commented on #828
Making parameters accessible as if they were attributes of the TimingModel/Component has the downside that programmatic access forces users to use `getattr`, which is always cumbersome. I have been thinking about whether providing __getitem__ as an alternative would be helpful? This would allow `m["F0"]`, or

[code]

It would also provide a means independent of __getattr__ to obtain parameters - s

[2020-11-24 19:01] scottransom commented on #828
How does that work practically?  Is there a simple toy example of this?  We've wrestled with this since the very beginning.

And we've considered **getitem** as well.  Are you suggesting using it *instead* of **getattr** or as an other option (i.e. to make it easier for those programming)?  Having the parameters visible as if they were attributes was really to make interactive work nicer and to sh

[2020-11-24 23:16] aarchiba commented on #828
I don't have a complete solution. But since m.F0 is well established now I'm not proposing getting rid of it. But if m["F0"] did the same thing, that would remove almost all the situations where users now need to use `getattr`. My hope is that the implementation of `__getattr__` could then be simplified - instead of using `super().__getattribute__`, which is deep magic indeed and I don't understan

[2020-11-24 23:21] aarchiba commented on #828
We might be able to abolish the `__getattr__` on `Component` objects - it seems like it's mostly used to access Parameters from other Components and we could maybe do away with that.

[2020-11-25 15:30] #805 closed

[2020-11-25 17:18] #816 closed

[2020-11-25 17:20] aarchiba commented on #816
So this is somewhat rearranged now, but you can use `model.get_params_dict("free","num")` to get a dictionary with the numeric values of the free parameters, and then `model.set_params()` to set those parameters to those values. Setting *which ones* are free isn't something you want a dictionary for, and so you just use `model.free_params = ["F0", "STIGMA", "CAPYBARA"]`.

[2020-11-25 17:23] #798 closed

[2020-11-25 20:25] #812 closed

[2020-11-25 20:27] aarchiba commented on #813
`make_fake_toas` is now available, so if you have a `.par` file and can show us what goes wrong, I can see if I can figure out what is going wrong.

[2020-11-25 20:28] #801 closed

[2020-11-25 21:32] tcromartie commented on #813
Oops, sorry Anne! I just played around with this a little more, and it turns out it *works* when I don't set the starting value at 0 (i.e. the parfile reads `STIGMA  0.5  1  0.01` or something). Is that expected behavior? The fit looks bad, but it works. When the starting value is 0, I get "array must not contain infs or NaNs" (from function_base.py in asarray_chkfinite(a, dtype, order)). I've att

[2020-11-25 22:01] aarchiba commented on #828
So with a bit of examination, there is a circular problem in the definition: If you ask a timing model for the nonexistent attribute `capybara`, then by definition, the timing model should look in all its components for `capybara`. But If you ask a component for the nonexistent attribute `capybara`, it will look in the timing model that contains it for `capybara`. This naturally enough hits the re

[2020-11-25 22:03] aarchiba commented on #828
I'll point out that the RecursionError triggers about a thousand function calls deep, and finding something - a parameter value say - in the nth component requires something like n*(n-1)/2 RecursionErrors to be caught, so this is a performance issue.

[2020-11-25 22:05] #795 closed

[2020-11-25 22:13] scottransom commented on #828
Is it possible for a component, when it asks the parent timing model if it has a parameter, to pass its (i.e. the component's) name/ID/hash with it so that the timing model won't query it again and only look in the *other* components?  Seems like the parent model could keep track of which components it has asked.

[2020-11-25 22:20] luojing1211 commented on #828
I was thinking to have the component attributes register to at the parent class, so that everything is visible to the parent class and not need to go and ask the components. However, if one adds an attribute on the fly, this would not work.

[2020-11-25 22:21] aarchiba commented on #828
Not if we're using getattr. And without some extremely devious stack trickery, then you just bounce between two Components.

I really think just making Components have to ask their `_parent` for any attribute they don't contain themselves is a better answer.

[2020-11-25 22:22] aarchiba commented on #828
That is, remove `Component.__getattr__` entirely, and use `self._parent.DM`. For one thing anything you're relying on the parent for might be missing if the model doesn't have the right other Components, so Component writers should stop and think about doing this.

[2020-11-25 22:57] aarchiba commented on #828
So far most of the problems have been manageable, but `test_ddk.py` mysteriously fails - no exception, just inaccurate values - with `Component.__getattr__` disabled.

[2020-11-26 00:15] aarchiba commented on #828
Mysteriously went away. All tests pass now.

[2020-11-26 21:29] aarchiba opened #830 "Clock files not sufficiently up to date for NANOGrav 15-year data set."
Adding a current set of clock files, at least for Green Bank and Arecibo (alas) would simplify work on NANOGrav data. Newer clock files from everywhere would be nice. I'm not quite sure what the closing date for the 15-year data set is, but they have some data from 58965, which is unfortunately not in the TEMPO repository.

[2020-11-26 22:57] aarchiba commented on #813
Looking at Freire and Wex 2010, STIGMA=0 means sin i = 0 or a completely face-on orbit doesn't it? So maybe STIGMA=0 doesn't actually make sense? Certainly some of their equations go wrong for STIGMA=0. If that's the case then maybe we just need to ensure STIGMA != 0 in validation?

[2020-11-26 23:04] aarchiba opened #832 ".validate() on BinaryBT does not check 0<E<=1"
Is `.validate` supposed to check that all parameters are reasonable? If not, is there a way to let people know they have chosen unreasonable values? None of the `.validate` methods seem to check parameter values. This came up in #813, where an initial STIGMA of zero is invalid but that is not obvious.

[2020-11-26 23:13] aarchiba opened #833 "get_model can't read from StringIO"
I'm trying to write test cases where I manipulate par files and `get_model` can't accept a file-like object instead of a filename.

[code]
fails.

#827 may be relevant also (`get_model_new` does support reading from StringIO).

[2020-11-26 23:54] #821 closed

[2020-11-30 15:15] luojing1211 opened #836 "Test_erfa failure on CI tests"
Currently, all of our branches' CI tests are failing due to the erfa test failing. It fails on the IERS -B tale download test. I remember there was a discussion about this in one of the telecons. When the IERS-B table gets updated, this will happen. Is there a nice way to avoid this?

[2020-11-30 15:54] aarchiba opened #837 "pickles are not regenerated if ephem parameter is changed"
The `usepickle` argument is meant to provide a transparent cache of TOAs objects. So if the `.tim` file changes, they should be regenerated. But if the `ephem` argument to `get_TOAs` is changed, the pickle is silently loaded and contains data processed with the old `ephem` value. The pickle should be considered invalid and either regenerated or at least raise an exception if it does not use the `e

[2020-11-30 16:03] paulray commented on #837
Yeah, that looks to be true. The restored pickle file will have its `ephem` attribute set to the value that was used when the pickle was made, so the `ephem` argument to `get_TOAs()` is ignored when there is a pre-existing pickle file.

There is already a check like this for the version of PINT that was used to create the pickle file.  A check for consistent `ephem` could easily be added.
https://

[2020-11-30 17:05] paulray commented on #836
I think the assumption in the test must not be true. It is checking that the downloaded version of IERS B is at least as current as the one that came shipped with astropy. For some reason, this is not true very soon after astropy is updated. This error will go away in a few days, but probably we should adjust the test a bit so that the downloaded version can be ~2 weeks or so out of date wrt the a

[2020-11-30 17:09] aarchiba opened #839 "pickles are not regenerated if INCLUDEd files change"
Pickles are meant to serve as transparent caches of loaded and corrected TOAs objects, and as a result they check the modification time of the `.tim` file against that of the `.pickle.gz` file. But they do not go on to check `.tim` files added by `INCLUDE` statements, so that one could modify one of these `INCLUDE`d files and not see the changes reflected in the loaded `TOAs` object because the pi

[2020-11-30 17:19] aarchiba commented on #836
What is this test actually supposed to verify? It does not appear to call any PINT function. Is there any reason to include it? git blame says I originally created the test but that you (@paulray ) changed it to the current check-if-up-to-date?

[2020-11-30 18:17] aarchiba opened #840 "pickle invalidation is based on time not content"
NANOGrav is discussing the possibility of passing pickles around to get better efficiency and replicability (they encode the `ephem` setting). This may result in pickles that are older than the `.tim` files that still do not need to be regenerated. One could add a hash of the input file(s) to TOAs objects (but note #839 ) so that the contents of their `.tim` files could quickly be checked for chan

[2020-11-30 18:22] aarchiba opened #841 ".tim files cannot record full information required to load them repeatably"
The full TOAs object obtained from a `.tim` file depends on the value of `ephem` passed to `get_TOAs`; similarly several clock correction parameters. NANOGrav folks would like to be able to encapsulate these options in some canonical way, in the interest of replicability. The relevant options could be recorded as TOA flags, if those TOA flags were respected upon loading of `.tim` files. One would

[2020-11-30 19:41] paulray commented on #841
Perhaps a command that applied to all TOAs, instead of TOA flags, would be better.
So, `EPHEM DE436` in the par file, could be respected.  Only one would be allowed, and one would have to decide which takes precedence if `ephem` is specified in the `get_TOAs()` call.

[2020-11-30 19:52] aarchiba commented on #841
It's tricky because as we manage it the ephemeris is needed to load TOAs, before a par file even becomes relevant.

[2020-11-30 19:54] paulray commented on #841
Indeed, but @scottransom was going to write a method that loaded TOAs with those kind of options coming from a particular model (EPHEM, PLANET_SHAPIRO). That would solve the NANOGrav problem.

[2020-11-30 19:58] scottransom commented on #841
Yes, that should happen this week!  Note that I think any command line options should trump options in a parfile.  But parfile options should trump the default get_TOAs() values.  Let me know if you disagree!

[2020-11-30 20:02] scottransom commented on #841
And note that I'm not sure that I like anything that is not truly related to the TOAs to be put into .tim files.  For instance, TOAs are completely valid without any direct reference to a timescale for the model (i.e. BIPM2019).  And similarly whether PLANET_SHAPIRO is calculated or not.  However, those things *are* relevant when the TOAs are combined with a full timing model.  And I *think* that

[2020-11-30 20:03] paulray commented on #841
Yes, I agree

[2020-11-30 20:05] scottransom commented on #841
Not sure why you say that...  Once again, TOAs are completely valid (i.e. if from an Earth-based observatory, they are defined to be MJD UTC) without all the bells and whistles that can (optionally) be in a parfile.  So you can use "regular" TOAs to bootstrap a full timing solution (which is, of course, exactly what we do in practice).

[2020-11-30 20:13] aarchiba commented on #841
Well, as it stands now our TOA objects include Earth positions and velocities, and these cannot be computed without an ephemeris object. (This does seem to pose issues for things like BayesEphem that want to vary the ephemeris as part of the fitting, but it seems people can work around this structure in PINT.) But I have no personal stake in how the problem of storing and sharing reproducible timi

[2020-11-30 20:26] scottransom commented on #841
Ah.  Gotcha, you were talking about our TOAs() objects/instances.  I was talking about the TOAs themselves in the .tim files (sorry for the nomenclature overlap!).  I'm leery of storing this kind of thing in the .tim files.  But I think it is completely appropriate to store it some other way (i.e. in .par files) or programmatically  via a script/notebook that specifies the appropriate options/flag

[2020-12-01 20:24] aarchiba opened #845 "Example code needs improvement."
- We have a number of notebooks making up part of our documentation. Ideally it would be easy for users to download `.ipynb` and (maybe) `.py` versions of each; these can be automatically generated by `jupytext`, and are during the doc build process.
- We have some example `.py` standalone scripts. It would be nice if these were at least listed in the docs, possibly including pretty-printing (but

[2020-12-01 20:42] aarchiba commented on #797
From https://docs.python.org/3/howto/logging.html :

[2020-12-01 21:08] theXYZT opened #846 "conda-forge package tries to downgrade astropy"
Hi,

When trying to install `pint-pulsar` via conda-forge, the package specifications try to downgrade astropy from 4.2:

[code]

Seems like there's an error in the conda-forge recipe and probably should be fixed.

[2020-12-02 05:14] theXYZT commented on #846
I suppose this is me just asking for a new release. Since, the `master` branch currently behaves well with `astropy=4.2` and I see the `requirements.txt` was only changed 3 months ago, after the last official release (0.7).

[2020-12-02 12:35] paulray commented on #846
Yep, we are trying to get 0.8 out very soon, with a bunch of new features. Note that it drops Python 2.7 support.

[2020-12-02 14:05] theXYZT opened #847 "Bugs in Polyco writer"
Here's a comparison between Polyco entries generated with the same parameters between `tempo2` and `PINT`:

[code]

PINT's Polyco file writer fail to match the [format specification](http://tempo.sourceforge.net/ref_man_sections/tz-polyco.txt) in terms of positions and lengths of segments.

But an even more serious bug: The `nspan` value which should be `72` gets truncated to `7` in PINT's output!

[2020-12-02 15:00] aarchiba commented on #847
Oh dear. The messy conflicting implementations are disappointing, but I'm afraid not surprising. A PR would be very welcome, especially if it included a few test cases, including some round-trip tests (does a polyco written out and read back in produce the same values?).

[2020-12-02 15:03] paulray commented on #847
Yes, polycos got implemented in PINT a while back but I think have been barely tested. Having someone work on them would be MOST welcome!

[2020-12-02 15:52] #836 closed

[2020-12-02 16:17] scottransom commented on #832
I found a similar issue the other day with a TEMPO-fitted parfile using ELL1 which gave values of EPS1 and EPS2 which meant that the eccentricity was < 0.  This caused the orbital phase code in PINT to barf.  I'm not sure how to handle stuff like that...  (SINI > 1 is another one I think we've seen with TEMPO fitting).

[2020-12-02 18:13] theXYZT commented on #847
Can someone confirm for me what the minimum Python 3 version supported for the next release will be (with Python 2 being dropped), I am wondering if I can use f-strings or not.

[2020-12-02 18:26] scottransom commented on #847
It will probably be 3.7 since I believe numpy is likely dropping 3.6 very soon.

[2020-12-02 19:23] paulray commented on #847
Currently we support 3.6, but I'd be ok with dropping that at the next release.

[2020-12-02 19:27] #63 closed

[2020-12-02 19:29] #304 closed

[2020-12-02 19:32] paulray commented on #606
I think this is the same as #733

[2020-12-02 19:36] demorest commented on #847
I don't think we should drop python 3.6 unless there is a good reason to.

[2020-12-02 19:51] scottransom commented on #847
@demorest there was a big discussion on the numpy developers mailing list recently.  They are almost certainly going to drop it ASAP, and most packages that follow numpy will likely immediately follow suite.  So that means scipy, matplotlib, and astropy.  Those are pretty good reasons.

[2020-12-02 19:55] scottransom commented on #847
Oops.  I was wrong.  It has already happened:  http://numpy-discussion.10968.n7.nabble.com/Python-3-6-has-been-dropped-from-NumPy-1-20-td48649.html

[2020-12-02 19:57] scottransom commented on #847
And I found the document that numpy is pushing for the whole scientific python enterprise to follow:  https://numpy.org/neps/nep-0029-deprecation_policy.html

[2020-12-02 19:59] demorest commented on #847
So if PINT requires numpy 1.20 which in turn requires py3.6, I'd say that's a good reason to drop py3.6.  If not I don't see why we need to rush to drop support for it.

[2020-12-02 21:02] paulray commented on #847
Yeah, if PINT still works with a version of numpy that requires 3.7, then we could keep support for 3.6.
I guess it just depends on whether we adopt bleeding edge features of numpy, scipy or astropy that force us to stop supporting older versions.

[2020-12-03 00:11] aarchiba commented on #832
Wait what less than zero? Aren't they the components of the eccentricity vector (and the eccentricity the length)? Certainly they can't be too big or you get an eccentricity greater than one.

[2020-12-03 00:59] scottransom commented on #832
Hmmm.  Ignore what I said.  I saw an issue recently with an ELL1 solution that had both EPS dots.  And I was getting some error somewhere that the eccentricity was less than zero!  I thought that it was due to EPS*DOT params doing something funky.  But I can't seem to replicate it now.

[2020-12-03 13:55] #820 closed

[2020-12-03 15:54] tcromartie commented on #813
Hi Anne, yeah, that's correct. I wasn't thinking. The validation it seems like you've added or proposed seems like a great idea. Thank you!

[2020-12-03 16:41] aarchiba commented on #799
I'd like to see the uncontroversial and working PRs merged before tagging a release, as well as a scan for severe bugs among the existing reports.

[2020-12-03 17:01] #837 closed

[2020-12-03 17:02] #813 closed

[2020-12-03 17:30] scottransom opened #848 "random models is broken in pintk"
I think that Note that #814 broke the random models code in pintk, since it changed the behavior of `make_fake_toas`.  If @clp3ef has a bit of time to check it, I suspect that it is probably a quick fix. If not, I'll try to take a look over the weekend.

[2020-12-03 20:46] luojing1211 commented on #799
The critical part for version 0.8 is the fixing dof, which should be merged today. If we want to report the version 0.8 in the paper. I would love to get paper validation example notebook and an update of documentation of PINT parameter into the repo.

[2020-12-03 23:43] theXYZT commented on #847
One feature of 3.7 that might be useful for this package is guaranteed order-preserving dictionaries.

[2020-12-04 12:07] paulray commented on #847
According to this, that appeared in 3.6: https://pymotw.com/3/collections/ordereddict.html

But, if we write code that assumes ordering, isn't it better to explicitly use OrderedDict?

[2020-12-04 14:51] theXYZT commented on #847
The built-in dict is faster and more memory efficient (by factors of 2-3 each), and OrderedDict will likely get deprecated in the future. That being said, I doubt this really affects PINT since I don't see large dictionaries being used here where any of this would matter. I just used OrderedDict in my refactoring of the polyco module.

[2020-12-04 18:01] pennucci opened #850 "The parameter methods set_value and set_value_float confusingly do not do those things"
The parameter methods set_value and set_value_float confusingly do not do those things, whereas parameter.set(value) does.  parameter.set_value(value) and parameter.set_value_float(value) just return value with the right unit.  This appears intentional, but it is confusing.  I would expect parameter.set_value(value) to then actually set the parameter value, and not just return the input.

[2020-12-04 18:07] pennucci opened #851 "DMJUMP fitting is not working"
In some cases, just freeing the DMJUMP parameters and iterating appears stable, in others it goes off the rails.  Perturbing the DMJUMP parameters is similar.  In all cases, the uncertainties on the DMJUMP and DMX parameters become very large and all nearly identical (out to 7 or 8 decimal places).  So something is out of whack.

[2020-12-04 22:27] paulray opened #854 "Recursion warning"
I now get this recursion warning when I do anything, even running the simple example fit_NGC6440E.py script:
[code]
I thought this was fixed in one of the recent PRs?  @aarchiba ?

[2020-12-05 19:29] aarchiba commented on #854
This is warning about the bug that will be fixed by #829

[2020-12-05 19:31] aarchiba commented on #854
Bug #828

[2020-12-05 19:31] #828 closed

[2020-12-05 19:31] #854 closed

[2020-12-05 19:33] aarchiba commented on #850
Are these methods used anywhere? Can they be removed/deprecated in favour of simply settfing `parameter.value = value`?

[2020-12-05 19:36] aarchiba commented on #850
General principle: in python to set an attribute to a value, just assign to it. Do not have a `set_` method; if some action needs to happen when the attribute is set, use a property to quietly do that.

It can make sense to have a `set_` method if you're trying to change something that isn't, doesn't look like, an attribute, but often because this obviously has to do something, a different verb is

[2020-12-05 19:41] aarchiba commented on #851
Can you tell whether it's in the fitter or the model? Do the right things happen to the residuals when you tweak DMJUMP?

[2020-12-05 20:08] #830 closed

[2020-12-05 20:21] aarchiba commented on #799
It seems to me that the criterion for 0.8.0 should be "wideband fitting is usable". Does that sound reasonable?

PR-wise:

- #849 gets the notebook and associated doc fixes. (Ready to go.)
- #844 is an API change (that I think is an improvement) and some doc improvements. (Ready to go.)
- #852 fixes a problematic bug #847 and is almost ready (and uncontroversial).
- #853 fixes the F test, which wo

[2020-12-06 04:26] luojing1211 commented on #850
The parameter.py needs clean up. I would say we can do it after version 0.8

[2020-12-06 09:49] pennucci commented on #851
I can look into this tomorrow a bit more, but I think it's in the fitter.  The reason I say this is that when keeping DMJUMPs fixed to their best-fit values (as determined by enterprise in the 12.5-year results), the TOA and DM residuals, and their chi2's and rms's, agree with what tempo produces.

[2020-12-06 13:24] aarchiba commented on #799
If we're going to claim wideband fitting is working, there should probably be some more extensive testing. For example, it looks like the code might break if some but not all TOAs have DMs set, and there is bug #851 . I can write some test cases, but ti's probably worth someone unfamiliar with wideband work doing a wideband fit and seeing what breaks or is hard to use or is undocumented.

[2020-12-06 13:53] aarchiba commented on #851
Actually it looks like WidebandDMResiduals already have the problem - if I change the DMJUMPs, the Residuals do not change in the obvious way. (Add i+1 to the ith DMJUMP parameter, the corresponding DM values in the residuals should increase by i+1.)

[2020-12-07 03:54] luojing1211 opened #856 "clock correction file directories"
Our observatory class has the ability to set the observatory clock correction files (any arbitrary directory ).

https://github.com/nanograv/PINT/blob/4c2f1ad9d669187b2cb59523135c30b4c521bf30/src/pint/observatory/topo_obs.py#L52-L57

However there is no straight ward APIs in the toa module. We should fix this.

[2020-12-07 14:02] pennucci commented on #851
@aarchiba isn't this just a result of the residuals being mean-subtracted?  I find that the DMJUMPs get applied appropriately other than that.  I guess that shouldn't happen prefit / if there's no fit and the residuals should reflect the absolute addition of the DMJUMPs.

[2020-12-07 16:05] aarchiba commented on #851
How is it correct to mean-subtract DM residuals? That can't be right. DM is a parameter, as is DMJUMP, any mean subtraction is going to interfere with fitting for one or both parameters.

[2020-12-07 16:30] pennucci commented on #851
I don't think it's correct, but that appears to be what's happening.  I just had a look to confirm:
`class WidebandDMResiduals(Residuals):
    """Residuals for independent DM measurement (i.e. Wideband TOAs)."""

    def __init__(
        self,
        toas=None,
        model=None,
        residual_type="dm",
        unit=u.pc / u.cm ** 3,
        subtract_mean=True,
        use_weighted_mean=Tru

[2020-12-07 18:16] pennucci opened #857 "chi2_reduced and reduced_chi2 are both defined"
The Residuals class has both defined, whereas CombinedResiduals just has reduced_chi2 defined.  The get_summary function in fitter.py asks for chi2_reduced.

[2020-12-07 18:22] almcewen0 opened #858 "compute_pulse_numbers is failing"
recently updated my PINT install, and I am working on timing a pulsar from scratch. in order to deal with phase wraps, I am trying to use pulse numbers (there was recently an update to allow the fitters to use this). however, compute_pulse_numbers is throwing two ValueErrors:

ValueError: cannot broadcast a non-scalar to a scalar array
ValueError: attribute obstime should be scalar or have shape (

[2020-12-07 18:25] scottransom commented on #858
@almcewen0 Can you please show how this is happening and when?  Are you passing pulse numbers in a .tim file?  Or doing something else?  And how many TOAs are in your fit?

[2020-12-07 18:30] almcewen0 commented on #858
I am trying to just do this after loading the TOAs and the model. so I create both of those and then use toas.compute_pulse_numbers(model), which fails. I have 243 TOAs in my fit, and it is a long-period binary pulsar with quasi-initial guesses (been timing it a while, but still haven't gotten all of them nailed down yet). would it be useful for me to attach the .tim and .par files?

[2020-12-07 18:39] scottransom commented on #858
Are you sure that the .par file is valid?  i.e. can you run a fit with it or compute .phase using it?  I just tried t.compute_pulse_numbers(m) with the fit_NGC6440E.py example and it works fine.  So something is strange.

[2020-12-07 18:56] almcewen0 commented on #858
i can compute phase just fine, but the fitting fails and throws an error that "ValueError: Latitude angle(s) must be within -90 deg <= angle <= 90 deg, got 4226.879063133337 deg" which I also don't understand, because I don't have latitude in my model and i'm not trying to fit for position.

[2020-12-07 18:57] aarchiba commented on #858
Yes, please, it would help to attach `.par` and `.tim` files and a simple series of python commands that trigger the problem. If you don't want the data to be public and can simplify it down so that it still triggers the problem that would be even better.

[2020-12-07 19:06] almcewen0 commented on #858
here is the par file...
[ell1_113020.txt](https://github.com/nanograv/PINT/files/5654679/ell1_113020.txt)

and here is the tim file. sorry for the weird extensions, GH won't let me post them with their normal extensions.

[CHIME_J2038+35_tempo2.txt](https://github.com/nanograv/PINT/files/5654701/CHIME_J2038%2B35_tempo2.txt)

[2020-12-07 19:20] aarchiba commented on #858
The following test passes:
[code]
Have you got a current copy of the PINT from git? Have you run `pip install -e .` on it recently?

(P.S. are you okay with your `.tim` and `.par` files taking up permanent residence in PINT's test suite? If not, and we find the bug, I can come up with simplified versions that still trigger it. (Then fix the bug; the test is to make sure it doesn't come back.)

[2020-12-07 19:34] aarchiba commented on #851
Do you have a tidy test case where DMJUMP fitting goes wrong? I can see that the WidebandTOAFitter does not turn off mean subtraction (but it would be easy to add it).

[2020-12-07 19:47] almcewen0 commented on #858
i have a developer cloned branch, and I did:

git fetch upstream
git checkout master
git merge upstream/master

is this not to appropriate way to update to the newest version on the NG GH server? re: saving the files, i think it's fine for them to stay (if this turns out to be a real bug, that is!).

[2020-12-07 20:16] aarchiba commented on #858
You might try `pip install -e .` in the PINT base directory, just to make sure you're using this version of PINT. Can you report whether running the commands I posted works for you or not?

[2020-12-07 20:40] aarchiba opened #860 "PINT incorrectly demands POSEPOCH when proper motion not set"
With the par file
[code]
PINT raises MissingParameter with the message:
[code]

[2020-12-07 21:54] clp3ef commented on #848
I looked and the issue is the default observatory used to make the fake TOAs was changed from "GBT" to "@". Changing the default obs in the function header back to "GBT" fixes the issue. @aarchiba, was there a reason the default observatory was switched to "@", or a reason it shouldn't be "GBT"?

[2020-12-07 22:00] paulray commented on #848
In my version I just changed `obs="@"` to `obs="GBT"` in `make_fake_toas()` and that didn't fix the problem for me.